<footer>
    <ul class="footerList">
      <li class="footerListItem">
        <a href="/">
          <h4>Partners</h4>
        </a>
        <ul class="footerSubLinkList">
          <li class="SubLinkListItem">
            <a href="/DealershipList">Dealerships</a>
          </li>
          <li class="SubLinkListItem">
            <a href="https://www.tailwindassociates.ca/" target="_blank">Business Partners</a>
          </li>
        </ul>
      </li>
      <li class="footerListItem">
        <a href="/">
          <h4>Customer Support</h4>
        </a>
        <ul class="footerSubLinkList">
          <li class="SubLinkListItem">
            <a href="/faq">FAQ</a>
          </li>
          <li class="SubLinkListItem">
            <a href="/Contact">Contact Us</a>
          </li>
        </ul>
      </li>
      <li class="footerListItem">
        <a href="/">
          <h4>Careers</h4>
        </a>
        <ul class="footerSubLinkList">
          <li class="SubLinkListItem">
            <a href="/Careers">Automotive Sales</a>
          </li>
        </ul>
      </li>
    </ul>
    <p>Copyright &copy 2021</p>
  </footer>