<footer>

    <ul>
        <li>
            <a href="/">HOME</a>
        </li>
        <li>
            <a href="/projects">
                PROJECTS
            </a>
        </li>
        <li>
            <a href="/contact">
                CONTACT
            </a>
        </li>
        <li>
            <a href="/game">
                GAME
            </a>
        </li>
    </ul>

    <ul>
        <li>
            <a href="https://github.com/LTapsy" target="_blank">
                <i class="socialMediaIcons fab fa-github fa-2x"></i>
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/lord-tapulao-730969195/" target="_blank">
                <i class="socialMediaIcons fab fa-linkedin-in fa-2x"></i>
            </a>
        </li>
        <li>
            <a href="mailto:lordtapulao@gmail.com" target="_blank">
                <i class="socialMediaIcons far fa-envelope fa-2x"></i>
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/ltapsy/" target="_blank">
                <i class="socialMediaIcons fab fa-instagram fa-2x"></i>
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/LTapsy/" target="_blank">
                <i class="socialMediaIcons fab fa-facebook fa-2x"></i>
            </a>
        </li>
    </ul>
    <p>&copy Lord Tapulao 2020</p>
</footer>