<ul class="navBar">
    <li>
        <a href="/">
            Home
        </a>
    </li> 
    <li>
        <a href="/About">
            About Us
        </a>
    </li> 
    <li>
        <a href="/inventory">
            Inventory
        </a>
    </li>
    <!-- <li>
        <a href="/Events">
            Events
        </a>
    </li>  -->
    <li>
        <a href="/TuluList">
            Tulus
        </a>
    </li> 
    <li>
        <a href="/DealershipList">
            Dealerships
        </a>
    </li>
    <li>
        <a href="/Finance/Finance">
            Finance
        </a>
    </li>
    <!-- <li>
        <a class="dropDownMenuBtn"onclick="dropDownMenu()">
            My Account
        </a>
    </li>   -->

    <!-- <%if(user){%>
        <%if(user.toObject().role){%>
            <%if(user.toObject().role != 'tulu'){%>
                <li>
                    <a href="/tulu/tuluRegistration">
                        <Button>Become a Tulu</Button>
                    </a>
                </li>
            <%}%>
        <%}%>
    <%}%>
    <%if(!user){%>
        <li>
            <a href="/tulu/tuluRegistration">
                <Button>Become a Tulu</Button>
            </a>
        </li>
    <%}%> -->
</ul>