<%- include partials/head %>
  <link rel="stylesheet" href="styles/404error.css">    
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&amp;display=swap" rel="stylesheet">    
  <title>Decal City</title>
</head>
<body>
  <h1>404 not found!</h1>
</body>
</html>
    