@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="~/Scripts/Assets/Webfonts/styles/all.css" />
    <link rel="stylesheet" href="styles/nav.css" />
    <link rel="stylesheet" href="styles/appointment.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <script type="text/javascript" src="~/Scripts/Assets/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <nav id="Nav">
        <a href="/">
            <img src="images/tulu-logo_white.png" alt="">
        </a>
        <div class="menuButton" onclick="slideMenu()">
            <i class="fas fa-bars fa-2x menuBtn"></i>
            <i class="fas fa-times fa-2x closeMenuBtn"></i>
        </div>
    </nav>

    <div id="SideMenu" class="sideMenu">
        <ul class="menu">
            
        </ul>
        <p class="loggedInAs"></p>
    </div>

    <div class="container body-content appointmentContainer">
        <div class="header">
            <h3>Appointments</h3>
        </div>
        <div class="appointmentTabs">
            <ul>
                <li onclick="showTab('pending')"class="pendingTab">Pending</li>
                <li onclick="showTab('accept')"class="acceptTab">Accepted</li>
            </ul>
        </div>
        <ul class="TestDriveList" id="TestDriveListPending"></ul>
        <ul class="TestDriveList" id="TestDriveListAccepted"></ul>

        <!-- @* <div class="showAppointments" onclick="ListTestDrives();">
            Show Appointments
        </div>
        <div class="bookAppointments" onclick="showAdd();"><i class="fas fa-plus fa-xs"></i>Book an Appointment</div> *@
        @*<input type="button" value="List Test Drives" id="ListButton" onclick="ListTD();" />*@ -->
        
    </div>
    <div class="bookAppointmentContainer" id="bookAppointmentContainer">
        <div class="wrapper">
            <div id="DealerList"></div>
            <div id="DealerVehicles"></div>
            <div id="DealerUsers"></div>


            Notes: <input type="text" id="TestDriveNotes" />
            Time & Date: <input type="text" id="TestDriveTimestamp" />
            <input type="time" id="Date" min="09:00" max="18:00">
            <input type="date" id="Time" min="2021-02-01" max="2021-12-31">
            Address Name:<input type="text" id="AddressName" />
            Street: <input type="text" id="Street" />
            City: <input type="text" id="City" />
            Province: <input type="text" id="Province" />
            Postal: <input type="text" id="Postal" />
            Latitude: <input type="text" id="Latitude" />
            Longitude: <input type="text" id="Longitude" />
            Type: <input type="text" id="AddressType" />

            <button onclick="NewTD();">Save Test Drive</button>
        </div>
    </div>

    <div class="appointmentDetails" id="appointmentDetails">
        <div class="appointmentCard" id="appointmentCard">
            <i class="fas fa-times fa-xs" onclick="closeCard();"></i>
            <div class="appointmentInfo" id="appointmentInfo">
                Testing
            </div>
        </div>
    </div>

</body>
<script src="~/Scripts/Assets/Js/sideMenu.js"></script>
<script type="text/javascript" src="~/Scripts/Assets/Js/Helpers/MessagesHelper.js"></script>
<script type="text/javascript" src="~/Scripts/Assets/Js/Helpers/TestDriveHelper.js"></script>
<script type="text/javascript" src="~/Scripts/Assets/Js/appointment.js"></script>

<script src="~/Scripts/Assets/Js/privileges.js"></script>
    </script>

    @if (User.Identity.IsAuthenticated) {
        <Script>
            GetUser();
        </Script>      
    }else{
        <Script>
            guestprivileges();
        </Script> 
    }
</html>
