

<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="images/favicon.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tulu Canada</title>
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/css/all.css" />
    <link rel="stylesheet" href="styles/nav.css" />
    <link rel="stylesheet" href="styles/booking.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <script type="text/javascript" src="jquery/dist/jquery.min.js"></script>
</head>
<body>
    <nav id="Nav">
        <a href="/">
            <img src="images/tulu-logo_white.png" alt="">
        </a>
        <div class="menuButton" onclick="slideMenu()">
            <i class="fas fa-bars fa-2x menuBtn"></i>
            <i class="fas fa-times fa-2x closeMenuBtn"></i>
        </div>
    </nav>

    <div id="SideMenu" class="sideMenu">
        <ul class="menu">
            
        </ul>
        <p class="loggedInAs"></p>
    </div>


    <div class="bookAppointmentContainer" id="bookAppointmentContainer">
        <div class="wrapper">
            
        </div>
    </div>

    <div class="privacyTerms">
        <div class="privacyTermsContainerWrapper">
            <div class="privacyTermsContainer">
                <h1>Privacy Policy & Terms and Condition</h1>
                <p>The quick brown fox jumps over the lazy dog.</p>
                <p>Jived fox nymph grabs quick waltz.</p>
                <p>Glib jocks quiz nymph to vex dwarf.</p>
                <p>Sphinx of black quartz, judge my vow.</p>
                <p>How vexingly quick daft zebras jump!</p>
                <p>The five boxing wizards jump quickly.</p>
                <p>Jackdaws love my big sphinx of quartz.</p>
                <p>Pack my box with five dozen liquor jugs.</p>
                <br/>
                <br/>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean molestie libero odio, quis aliquam massa luctus in. Cras molestie metus ante, eget vestibulum nisi tincidunt sed. Etiam semper suscipit nisi, non molestie orci. Vestibulum sodales leo iaculis sapien tempor, non imperdiet sem dapibus. Duis vitae imperdiet lacus. Sed eget ligula et elit tincidunt venenatis id non neque. Sed vel tincidunt turpis. Morbi et odio eget ligula elementum pellentesque et at ipsum.
                <br/>
                <br/>
                Phasellus posuere egestas sagittis. Etiam sit amet condimentum mi. Nulla facilisi. Vestibulum semper feugiat mi, ac euismod metus molestie nec. Proin sit amet quam sed justo porttitor mollis non at velit. Aenean semper mi vel magna dapibus fringilla. Duis lacus mi, auctor quis congue sed, tristique quis metus. Fusce auctor metus eros, quis rhoncus ligula mattis ac.
                <br/>
                <br/>
                Aliquam vel aliquam purus. Nam lacinia dictum vestibulum. Morbi luctus ligula sit amet imperdiet sodales. Vestibulum semper vitae massa ac scelerisque. Quisque volutpat mi eu nulla fringilla, non blandit nisi porta. Nunc quis cursus nulla, id dignissim nunc. Etiam dictum leo enim, ac sagittis arcu ultrices et. Aliquam vel tristique est. Curabitur nibh nisl, mollis sed convallis quis, molestie id ante. Nullam malesuada dui elementum lorem placerat sagittis. Nunc ullamcorper rhoncus suscipit.
        
                <br/>
                <br/>
                Sed hendrerit ante ac ullamcorper mollis. Nulla ultricies lectus sollicitudin nibh egestas, et molestie dui dignissim. Quisque nisl orci, elementum vel pulvinar at, hendrerit id felis. Fusce lobortis tristique diam, ut rhoncus neque molestie ut. Sed maximus, lectus id tempor pretium, est purus sollicitudin nisi, sit amet auctor velit tortor sed elit. Duis tincidunt libero at turpis varius cursus. Ut id enim eget erat facilisis aliquam quis in orci. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc sagittis consectetur ante, sed cursus orci pretium ut. Aenean laoreet nunc quis eros tincidunt ultricies. Donec odio augue, blandit sed quam vitae, lobortis dignissim purus. Vestibulum orci nunc, dapibus sit amet lacus sed, rhoncus ornare nunc.

                <br/>
                <br/>
                Phasellus nibh neque, feugiat id tempor in, pulvinar sed ex. Donec auctor vestibulum velit. Nunc in lorem quis elit semper rutrum. Donec commodo blandit justo, nec tempor nibh bibendum pulvinar. Proin pellentesque, massa ut porttitor dignissim, purus nisi facilisis augue, vitae varius neque ipsum id enim. Sed in nulla sagittis, elementum sapien non, facilisis odio. Vivamus mauris urna, tristique in aliquam at, scelerisque quis sem. Proin at lectus ut risus dapibus vestibulum. Nunc ultrices mi vitae maximus commodo. Nulla cursus sollicitudin venenatis. Pellentesque libero metus, bibendum quis fermentum id, lobortis in sem. Aliquam congue nibh id finibus sagittis. Nullam nisl eros, ornare at lectus a, finibus pretium turpis. Donec at dui a metus efficitur viverra. Donec porta molestie ultrices.
                </p>

                <button class="agreeBtn" onclick="iAgree()">I Agree</button>
                <button class="cancelBtn"  onclick="CancelTest()">Cancel</button>
            </div>
        </div>
    </div>

</body>
<script src="Js/sideMenu.js"></script>
<script src="Js/booking.js"></script>
<script type="text/javascript">

    var gVin = '';
    var gDealerId = '';
    var gTuluId = '';
    var tulu = '';
    var gUser = '';
    var gTestDrive = '';
    var dealerAddress = '';

    function GoBackToCarView(){
        window.location = "/CarView?vin=" + gVin + "&dealerId=" + gDealerId;
    }

    window.onload = function () {

        var hash;
        var hashes = window.location.href.slice(window.location.href.indexOf("?") + 1).split("&");

        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split("=");
            if (hash[0] === "dealerId") {
                gDealerId = hash[1];
            } else if (hash[0] === "vin") {
                gVin = hash[1];
            } else if (hash[0] === "tuluId") {
                gTuluId = hash[1];
                if(gTuluId =='Skipped'){
                    tulu = 'Skipped';
                    gTuluId = 'f34315cf-2be5-41e4-8dbf-1ec5a2cca8b0';
                }
            } else if (hash[0] === "dealerAddress") {
                dealerAddress = hash[1];
            }
        }
        address = dealerAddress.replaceAll('%20',' ');
        console.log(address);
        console.log(dealerAddress);
        GetCurrentUser();
    }



</script>
<script src="Js/privileges.js"></script>
    </script>

    <!-- <Script>
            GetUser();
        </Script>   -->
        <Script>
            guestprivileges();
        </Script> 
</html>
