


<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="images/favicon.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/css/all.css" />
    <link rel="stylesheet" href="styles/nav.css" />
    <link rel="stylesheet" href="styles/carView.css" />
    <link rel="stylesheet" href="styles/gallery.css" />
    <link rel="stylesheet" href="styles/footer.css" />
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <script type="text/javascript" src="jquery/dist/jquery.min.js"></script>
</head>
<body>
    <nav id="Nav">
        <a href="/">
            <img src="images/tulu-logo_white.png" alt="">
        </a>
        <div class="menuButton" onclick="slideMenu()">
            <i class="fas fa-bars fa-2x menuBtn"></i>
            <i class="fas fa-times fa-2x closeMenuBtn"></i>
        </div>
    </nav>

    <div id="SideMenu" class="sideMenu">
        <ul class="menu">
            
        </ul>
        <p class="loggedInAs"></p>
    </div>
    <div class="container body-content">

        <!-- Vendor -->
        <div id="carVendor" class="carVendor">
            <a onclick="dealerListing()">
                <div class="userImage">
                    <i class="fas fa-user fa-2x"></i>
                </div>
            </a>
            <div class="userInfo">
                <h3 class="userName" id="dealershipName">
                    
                </h3>
                <p class="userActiveListingCount" id="userActiveListingCount">
                    
                </p>
            </div>
        </div>

        <!-- VEHICLE INFO -->
        <section id="Vehicles" class="vehicles">
            <div class="carDetails">
                <img src="' + vehicle.links[0].url + '" class="carImage" alt="car-image">
                <div class="carTitle">
                    <h2 class="carName"></h2>
                    <p class="carPrice"></p>
                    <p class="carReferralFee"></p>
                    
                </div>
                <div class="carGallery">
                    <ul id="carImageList" class="lightbox-gallery carImageList">
                        <li class="carImageListItems">
                            <img class="carThumbnail" src="' + vehicle.links[0].url + '" data-image-hd="' + vehicle.links[0].url + '">
                        </li>
                    </ul>
                </div>
                <button class="buyNowBtn" onclick="buyNow()">Buy now!</button>
                @if (User.Identity.IsAuthenticated) {
                    @* <button onclick="bookAppointment();" class="bookAppointment">Book an appointment</button> *@
                    <button onclick="selectTulu();" class="bookAppointment">Book an appointment</button>
                } else {
                    <div class="BookContainer">
                        <p>Book an appointment?</p>
                        <div class="signInBtn">
                            <a href="/home/dashboard">Sign In!</a>
                        </div>
                    </div>
                }
                
            </div>
            <div class="carSpecsBox">
                <div class="carSpecsCol">
                    <ul class="carSpecs" id="carSpecs">
                        
                    </ul>
                </div>
                <div class="infoBoxVN">
                    <div class="carInfoVin">
                        <p>VIN#:</p>
                        <p class="vin"></p>
                    </div>
                    <div class="carInfo carInfoNotes">
                        <p>Notes:</p>
                        <p class="notes"></p>
                    </div>
                </div>
            </div>
        </section>
        @if (User.Identity.IsAuthenticated) {
            <section class="questionSection" id="questionSection">
                <div class="QuestionContainer">
                    <h2>Questions?</h2>
                    <p>Connect with a Tulu!</p>
                    <button onclick="ShowConnectWithTulu()">Connect</button>
                </div>
            </section>
        }else{
            
        }
        <!-- SHARE BUTTON -->

        <section class="shareSection" id="shareSection">
            <div class="ShareContainer">
                <p>Share This Listing</p>
                <div class="shareBtnContainer" id="shareBtnContainer">
                    @if (User.Identity.IsAuthenticated) {

                        <script>
                            var url = window.location.href;
                            var fbBtn = '';
                            fbBtn += '<a class="facebookButton"  onclick="ShareVehicle()" href="https://www.facebook.com/sharer/sharer.php?u=' + url + '" target="_blank">';
                            fbBtn += '     Share on Facebook';
                            fbBtn += '</a>';
                            $("#shareBtnContainer").append(fbBtn);
                        </script>
                    } else {
                        <div class="signInBtn">
                            <a href="/test">Sign In!</a>
                        </div>
                    }
                </div>
            </div>
        </section>
    </div>
    <footer>
        <ul class="footerList">
            <li class="footerListItem">
                <a href="/Home/About">
                    <h4>About</h4>
                </a>
            </li>
            <li class="footerListItem">
                <a href="/">
                    <h4>Partners</h4>
                </a>
                <ul class="footerSubLinkList">
                    <li class="SubLinkListItem">
                        <a href="/Home/DealershipList">Dealerships</a>
                    </li>
                </ul>
            </li>
            <li class="footerListItem">
                <a href="/">
                    <h4>Customer Support</h4>
                </a>
                <ul class="footerSubLinkList">
                    <li class="SubLinkListItem">
                        <a href="/">FAQ</a>
                    </li>
                    <li class="SubLinkListItem">
                        <a href="/">Feedback and Comments</a>
                    </li>
                    <li class="SubLinkListItem">
                        <a href="/Home/Contact">Contact Us</a>
                    </li>
                </ul>
            </li>
        </ul>
    </footer>
    <div id="fb-root"></div>

    <div class="tuluPicker">
        <div class="tuluPickerHeading">
            <h2>Have you connected with a tulu?</h2>
            <p>if so, select your tulu.</p>
        </div>
        <ul class="tuluPickerContainer">

        </ul>
        
        <button onclick="bookAppointment(`Skipped`)">Skip</button>
        <p class="skipLabel">If not, click skip.</p>
        
    </div>

    <div class="tuluConnectPicker">
        <div class="tuluPickerHeading">
            <h2>Questions?</h2>
            <p>Connect with a tulu today!</p>
        </div>
        <ul class="tuluConnectPickerContainer">

        </ul>
    </div>
    
    <aside id="FilterSettings" class="filterSettings" style="display:none;">
            <div class="filterSettingContainer">
                <div class="ModelSearchContainer">
                    <label for="ModelSearch" class="ModelSearchLabel">Model :</label>
                    <input type="text" id="ModelSearch" />
                </div>
                <div class="MakeSearchContainer">
                    <label for="MakeSearch" class="MakeSearchLabel">Make :</label>
                    <input type="text" id="MakeSearch" />
                </div>
                <div class="YearMinContainer">
                    <label for="YearMin" class="YearMinLabel">Year Min :</label>
                    <input type="text" id="YearMinSearch" value="0" />
                </div>
                <div class="YearMaxContainer">
                    <label for="YearMax" class="YearMaxLabel">Year Max :</label>
                    <input type="text" id="YearMaxSearch" value="0" />
                </div>
                <div class="VehicleTypeContainer">
                    <label for="VehicleType" class="VehicleTypeLabel">Vehicle Type :</label>
                    <input type="text" id="VehicleTypeSearch" />
                </div>
                <div class="IsSoldContainer">
                    <label for="IsSold" class="IsSoldLabel">Model :</label>
                    <select id="IsSoldSelect"><option value="0">False</option><option value="1">True</option></select>
                </div>
                <div class="PriceMinContainer">
                    <label for="PriceMin" class="PriceMinLabel">Price Min :</label>
                    <input type="text" id="PriceMinSearch" value="0" />
                </div>
                <div class="PriceMaxContainer">
                    <label for="PriceMax" class="PriceMaxLabel">Price Max :</label>
                    <input type="text" id="PriceMaxSearch" value="0" />
                </div>
                <div class="PriceTypeContainer">
                    <label for="PriceType" class="PriceTypeLabel">Price Type :</label>
                    <select id="PriceTypeSearch">
                        <option value=""></option>
                        <option value="msrp">MSRP</option>
                        <option value="wholeSalePrice">Whole Sale Price</option>
                    </select>
                </div>

                <input type="button" value="Search" id="searchButton" onclick="SearchVehicles();" />
            </div>
        </aside>

</body>
<script src="Js/sideMenu.js"></script>
<script src="Js/Helpers/ClientsHelper.js"></script>

<script type="text/javascript">
    var vin = '';
    var dealerId = '';
    var tuluId = '';
    var gUser = null;
    var gVehicle = null;
    var refFee = "";
    var dealerVehicleList = "";
    var street = "";
    var city = "";
    var province = "";
    var postal = "";
    var address = "";
    var price = "";
    var currVehicle = "";
    var dealership = "";

    window.onload = function () {

        var hash;
        var hashes = window.location.href.slice(window.location.href.indexOf("?") + 1).split("&");
        
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split("=");
            if (hash[0] === "dealerId") {
                dealerId = hash[1];
            } else if (hash[0] === "vin") {
                vin = hash[1];
            } else if (hash[0] === "tuluId") {
                tuluId = hash[1];
            }
        }
        GetPageVehicle(vin, dealerId);
        SearchVehicles(dealerId);    
    }

    function ShowConnectWithTulu(){
        document.querySelector('.tuluConnectPicker').style = "display:flex;";
    }

    //THIS IS FOR THE BUY NOW
    // if(vehicles[i].buyNow == true){
    // document.querySelector('.buyNowBtn').style="display:none;";
    // }


    function buyNow(){
        window.location = "/Home/BuyNow?dealership=" + dealership+"&price=" + price+"&vehicle=" + currVehicle+"&address=" + address;
    }

    function connectWithTulu(selectedTuluId){
        window.location = "/Home/Connect?dealerId=" + dealerId+"&vin=" + vin+"&tuluId=" + selectedTuluId;
    }
    
    function SearchVehicles(gDealerId) {
        var obj = new Object();
        obj.dealerId = gDealerId;
        obj.model = $("#ModelSearch").val();
        obj.make = $("#MakeSearch").val();
        obj.yearMin = parseInt($("#YearMinSearch").val());
        obj.yearMax = parseInt($("#YearMaxSearch").val());
        obj.vehicleType = $("#VehicleTypeSearch").val();
        obj.isSold = false;
        obj.priceMin = parseFloat($("#PriceMinSearch").val());
        obj.priceMax = parseFloat($("#PriceMaxSearch").val());
        obj.priceType = $("#PriceTypeSearch option:selected").val();
        obj.isSold = '';
        if ($("#IsSoldSelect option:selected").val() === "1") { obj.isSold = 'true'; }
        ListVehicles(obj).then(function (list) {
            dealerVehicleList = list;
            console.log(list);
            ListDealerUsers().then(function (results) {
                ListDealers() 
            });
        });
    }

function ListDealers() {
    $.ajax({
        type: "PUT",
        url: "/Dealer/List",
        cache: false,
        dataType: "json",
        contentType: "application/x-www-form-urlencoded",
        success: function (results) {
            console.log(results);
            @* addDealerInfo(results); *@
        },
        error: function (results) {
            alert("Error");
        },
    });
}



function addDealerInfo(dealerInfo){
    if(dealerInfo.address.street != ""){
        street = dealerInfo.address.street;
    }
    if(dealerInfo.address.city != ""){
        city = dealerInfo.address.city;
    }
    if(dealerInfo.address.province != ""){
        province = dealerInfo.address.province;
    }
    if(dealerInfo.address.postal != ""){
        postal = dealerInfo.address.postal;
    }
    if(dealerInfo.address.postal != ""){
        postal = dealerInfo.address.postal;
    }
    address = street +" "+city+" "+province+" "+postal;
     $('.userInfo').append('<p class="address"> Address: '+address+'</p>');
     $('.userInfo').append('<p class="email"> Email: '+dealerInfo.email+'</p>');
     $('.userInfo').append('<p class="userActiveListingCount" id="userActiveListingCount"> '+ dealerVehicleList.length + ' Active Listing</p>');
}

    async function ListVehicles(obj) {

        const results = await $.ajax({
            type: "PUT",
            url: "/Vehicle/List",
            data: obj,
            cache: false,
            dataType: "json",
            contentType: "application/x-www-form-urlencoded",
            success: function (results) { 
                listVehicle = results;
            },
            error: function (results) { console.log(results.statusText); },
        });
        return results;
    }


    function dealerListing(index) {
        //window.sessionStorage.setItem("vin", vin);
        console.log(vin);
        //LocationChange('carView');
        if (dealerId === "") {
            //window.location = "/Home/CarView?vin=" + listVehicles[index].vin + "&dealerId=" + listVehicles[index].dealerId;
            alert("error");
        } else {
            window.location = "/Home/DealerListing?dealerId=" + dealerId;
        }
    }

     function populateTuluList(List){
         var html = "";
        for(var i = 0; i!= List.length; i++){
            html+='<li onclick="bookAppointment(`'+List[i].id+'`)">';
            html+='    <p class="tuluName">'+List[i].firstName +' '+List[i].lastName+'</p>';
            html+='    <p class="tuluEmail">'+List[i].email+'</p>';
            html+='    <div class="tuluRating">';
            html+='        <i class="fas fa-star"></i>';
            html+='        <i class="fas fa-star"></i>';
            html+='        <i class="fas fa-star"></i>';
            html+='        <i class="fas fa-star"></i>';
            html+='        <i class="far fa-star"></i>';
            html+='    </div>';
            html+='</li>';
        }
        $('.tuluPickerContainer').empty();
        $('.tuluPickerContainer').append(html);

        var html2 = "";
        for(var i = 0; i!= List.length; i++){
            html2+='<li onclick="connectWithTulu(`'+List[i].id+'`)">';
            html2+='    <p class="tuluName">'+List[i].firstName +' '+List[i].lastName+'</p>';
            html2+='    <p class="tuluEmail">'+List[i].email+'</p>';
            html2+='    <div class="tuluRating">';
            html2+='        <i class="fas fa-star"></i>';
            html2+='        <i class="fas fa-star"></i>';
            html2+='        <i class="fas fa-star"></i>';
            html2+='        <i class="fas fa-star"></i>';
            html2+='        <i class="far fa-star"></i>';
            html2+='    </div>';
            html2+='</li>';
        }

        $('.tuluConnectPickerContainer').empty();
        $('.tuluConnectPickerContainer').append(html2);
    }

    function TestTuluList() {
        //FIXME: I think this needs to be deleted
        $.ajax({
            type: "PUT",
            url: "/Users/ListTulus",
            //data: obj,
            cache: false,
            dataType: "json",
            contentType: "application/x-www-form-urlencoded",
            success: function (results) {
                console.log(results);
                populateTuluList(results);
            },
            error: function (results) {
                alert("Error");
            },
        });
    }


    

    function GetCurrentUser() {
        //FIXME: I think this needs to be deleted
        $.ajax({
            type: "PUT",
            url: "/Users/Current",
            cache: false,
            dataType: "json",
            contentType: "application/x-www-form-urlencoded",
            success: function (results) {
                console.log(results)
                gUser = results;
                //console.log(gUser.roles[0].role);
                @*if (gUser.roles[0].role == "Tulu") {
                    $('.carReferralFee').html("Referral Fee: $" + vehicle.refferalFee);
                    console.log(vehicle.refferalFee)
                }*@
            },
            error: function (results) {
                alert("Error");
            },
        });
    }


    function GetPageVehicle(vin, dealerId) {
        GetVehicle(vin, dealerId).then(function (vehicle) {
            //alert(JSON.stringify(vehicle));
            console.log(vehicle);
            populateVehicle(vehicle);
            gVehicle = vehicle;
            currVehicle = vehicle.year + " " + vehicle.make + " " + vehicle.model;
            price = gVehicle.maxPrice;
            dealership = gVehicle.dealerName;
            displayRefFee(vehicle);
        });
    }

    function selectTulu(){
        document.querySelector('.tuluPicker').style = "display:flex !important;"
    }

    function bookAppointment(tuluId) {
        @* console.log(tuluId) *@
        window.location = "/Home/booking?vin=" + vin + "&dealerId=" + dealerId + "&tuluId=" + tuluId + "&dealerAddress=" + address ;
    }


    function DisplayImage(link) {
        var imageUrl = gVehicle.links[link].url;
        $('.carImage').attr("src", imageUrl);
    }


    function formatNumber(num) {
        return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,')
    }

   

    function populateVehicle(vehicle) {
        //var html = ""

        createMetaTags(vehicle);
       var DpImage = '';
        for(var v=0; v != vehicle.links.length; v++){
            if(vehicle.links[v].type == "Main Photo"){
                DpImage = vehicle.links[v].url;
            }
        }
        $('#dealershipName').html(vehicle.dealerName);
        $('.carImage').attr("src",DpImage);
        $('.carName').html(vehicle.year+' '+vehicle.make+' '+vehicle.model);

        var thumbnailHtml = "";
        for (var i = 0; i != vehicle.links.length; i++){
            var link = vehicle.links[i].url;
            thumbnailHtml+='<li class="carImageListItems">';
            thumbnailHtml += '    <img class="carThumbnail" src="' + link + '" onclick="DisplayImage('+i+')" data-image-hd="' + link + '">';
            thumbnailHtml+='</li>';
        }
        $('#carImageList').empty();
        $('#carImageList').append(thumbnailHtml);
        @* console.log(thumbnailHtml) *@
        


        $('.carPrice').html('$'+formatNumber(vehicle.maxPrice));
        
        
        
        var html = "";

        if(vehicle.year != ""){
            $('.year').html(vehicle.year);
            //html +='';
            html +='<li class="carInfo">';
            html +='    <p>Year</p>';
            html +='    <p class="year">'+vehicle.year+'</p>';
            html +='</li>';
        }
        if(vehicle.make != ""){
            $('.make').html(vehicle.make);

            html +='<li class="carInfo">';
            html +='    <p>Make</p>';
            html +='    <p class="make">'+vehicle.make+'</p>';
            html +='</li>   ';
        }
        if(vehicle.model != ""){
            $('.model').html(vehicle.model);

            html +='<li class="carInfo">';
            html +='    <p>Model</p>';
            html +='    <p class="model">'+vehicle.model+'</p>';
            html +='</li>   ';
        }
        if(vehicle.colorName != ""){
            $('.color').html(vehicle.colorName);

            html +='<li class="carInfo">';
            html +='    <p>Color</p>';
            html +='    <p class="color">'+vehicle.colorName+'</p>';
            html +='</li>';
        }
        if(vehicle.bodyType != ""){
            $('.bodyType').html(vehicle.bodyType);

            html +='<li class="carInfo">';
            html +='    <p>Body Type</p>';
            html +='    <p class="bodyType">'+vehicle.bodyType+'</p>';
            html +='</li>';
        }
        if(vehicle.engineName != ""){
            $('.engine').html(vehicle.engineName);

            html +='<li class="carInfo">';
            html +='    <p>Engine</p>';
            html +='    <p class="engine">'+vehicle.engineName+'</p>';
            html +='</li>';
        }
        if(vehicle.driveType != ""){
            $('.driveType').html(vehicle.driveType);

            html +='<li class="carInfo">';
            html +='    <p>Drivetrain</p>';
            html +='    <p class="driveType">'+vehicle.driveType+'</p>';
            html +='</li>';
        }
        if(vehicle.transmissionName != ""){
            $('.transmission').html(vehicle.transmissionName);

            html +='<li class="carInfo">';
            html +='    <p>Transmission</p>';
            html +='    <p class="transmission">'+vehicle.transmissionName+'</p>';
            html +='</li>';
        }
        if(vehicle.fuelType != ""){
            $('.fuel').html(vehicle.fuelType);

            html +='<li class="carInfo">';
            html +='    <p>Fuel Type</p>';
            html +='    <p class="fuel">'+vehicle.fuelType+'</p>';
            html +='</li>';
        }
        if(vehicle.mileage != ""){
            $('.mileage').html(vehicle.mileage+" kms");

            html +='<li class="carInfo">';
            html +='    <p>Kilometers</p>';
            html +='    <p class="mileage">'+vehicle.mileage+'</p>';
            html +='</li>';
        }
        if(vehicle.trim != ""){
            $('.trim').html(vehicle.trim);

            html +='<li class="carInfo">';
            html +='    <p>Trim</p>';
            html +='    <p class="trim">'+vehicle.trim+'</p>';
            html +='</li>';
        }
        if(vehicle.vin != ""){
            $('.vin').html(vehicle.vin);
        }
        if(vehicle.notes != ""){
            $('.notes').html(vehicle.notes);
        }


        $("#carSpecs").empty();
        $("#carSpecs").append(html);
        

    }

    function createMetaTags(vehicle) {
        var metaTags = '';
        metaTags +='';
        
        metaTags += '<meta http-equiv="Content-Security-Policy" content=`default-src *; style-src "self" http://* "unsafe - inline"; script-src "self" http://* "unsafe - inline" "unsafe - eval"` />';
        metaTags += '<meta name="format-detection" content="telephone=no">';
        metaTags += '<meta name="msapplication-tap-highlight" content="no">';
        metaTags += '<meta name="viewport" content="initial-scale=1, width=device-width, viewport-fit=cover">';
        metaTags += '<meta property="og:title" content="TULU - ' + vehicle.year + ' ' + vehicle.make + ' ' + vehicle.model + '">'; 
        metaTags += '<meta property="og:description" content="TEST">'; 
        metaTags += '<meta property="og:url" content="' + vehicle.links[0].url + '">';
        @* metaTags += '<meta property="og:image" content="' + vehicle.links[0].url + '">';  *@
        metaTags += '<meta property="og:image:type" content="image/png">'; 
        metaTags += '<meta property="og:image:width" content="1024">'; 
        metaTags += '<meta property="og:image:height" content="1024">'; 

        $("head").append(metaTags);
    }

    async function GetVehicle(vin, dealerId) {
        var obj = new Object();
        obj.vin = vin;
        obj.dealerId = dealerId;
        const results = await $.ajax({
            type: "PUT",
            url: "/Vehicle/Get",
            data: obj,
            cache: false,
            dataType: "json",
            contentType: "application/x-www-form-urlencoded",
            success: function (results) { },
            error: function (results) { console.log(results.statusText); },
        });
        return results;
    }

    //Facebook

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));


    function ShareVehicle() {
        var obj = new Object();
        obj.vin = vin;
        obj.dealerId = dealerId;
        $.ajax({
            type: "PUT",
            url: "/Tulu/ShareVehicle",
            data: obj,
            cache: false,
            dataType: "json",
            contentType: "application/x-www-form-urlencoded",
            success: function (results) {
                console.log(results);
                //populateDashboard(results);
                alert('shared!');
            },
            error: function (results) {
                alert("Error");
            },
        });
    }

function displayRefFee(vehicle){
    console.log(gUser);
    //for(x=0;x!=gUser.roles.length;x++){
        if(gUser.roles[0].role == "Tulu"){

            $('.carReferralFee').html("Referral Fee: $"+vehicle.refferalFee);
            console.log(vehicle.refferalFee)
        }
    //}
}
</script>


<!-- Your share button code -->
@*<div class="fb-share-button"
     data-href="https://www.your-domain.com/your-page.html"
     data-layout="button_count">
</div>*@
<script src="Js/privileges.js"></script>
    </script>

    @if (User.Identity.IsAuthenticated) {
        <Script>
            GetUser();
            GetCurrentUser();
            TestTuluList();
            
        </Script>      
    }else{
        <Script>
            guestprivileges();
        </Script> 
    }
</html>