@{ ViewBag.Title = "Contact"; }

<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="images/favicon.png" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tulu Canada</title>
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/css/all.css" />
    <link rel="stylesheet" href="styles/nav.css" />
    <link rel="stylesheet" href="styles/contactUs.css" />
    <link rel="stylesheet" href="styles/footer.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <script type="text/javascript" src="jquery/dist/jquery.min.js"></script>
  </head>
  <body>
    <nav id="Nav">
      <a href="/">
        <img src="images/tulu-logo_white.png" alt="" />
      </a>
      <div class="menuButton" onclick="slideMenu()">
        <i class="fas fa-bars fa-2x menuBtn"></i>
        <i class="fas fa-times fa-2x closeMenuBtn"></i>
      </div>
    </nav>

    <div id="SideMenu" class="sideMenu">
      <ul class="menu">
        <%- include partials/sidemenu %>
      </ul>
      <p class="loggedInAs"></p>
    </div>

    <div class="container body-content">
      <div class="questions">
        <h2>Questions?</h2>
        <p>[message]</p>
      </div>
      <div>
        <form id="my-form" action="/contact/email" method="POST">
          <label for="firstName">First Name:</label>
          <input type="text" name="firstName" id="firstName" required />
          <label for="lastName">Last Name:</label>
          <input type="text" name="lastName" id="lastName" required />
          <label for="phoneNumber">Phone Number:</label>
          <input type="text" name="phoneNumber" id="phoneNumber" required />
          <label for="email">Email:</label>
          <input type="email" name="email" id="email" />
          <label for="message">Message:</label>
          <textarea id="message" name="message" rows="4" cols="20"> </textarea>
          <button>Submit</button>
        </form>
      </div>
    </div>
    <footer>
      <ul class="footerList">
        <li class="footerListItem">
          <a href="/">
            <h4>Partners</h4>
          </a>
          <ul class="footerSubLinkList">
            <li class="SubLinkListItem">
              <a href="/DealershipList">Dealerships</a>
            </li>
          </ul>
        </li>
        <li class="footerListItem">
          <a href="/">
            <h4>Customer Support</h4>
          </a>
          <ul class="footerSubLinkList">
            <li class="SubLinkListItem">
              <a href="/faq">FAQ</a>
            </li>
            <!--             <li class="SubLinkListItem">
              <a href="/">Feedback and Comments</a>
            </li> -->
            <li class="SubLinkListItem">
              <a href="/Contact">Contact Us</a>
            </li>
          </ul>
        </li>
      </ul>
    </footer>
  </body>

  <script src="Js/sideMenu.js"></script>
  <!--   <script>
    var form = document.getElementById("my-form");

    async function handleSubmit(event) {
      event.preventDefault();
      var status = document.getElementById("my-form-status");
      var data = new FormData(event.target);
      fetch(event.target.action, {
        method: form.method,
        body: data,
        headers: {
          Accept: "application/json",
        },
      })
        .then((response) => {
          status.innerHTML = "Thanks for your submission!";
          form.reset();
        })
        .catch((error) => {
          status.innerHTML = "Oops! There was a problem submitting your form";
        });
    }
    form.addEventListener("submit", handleSubmit);
  </script> -->
  <script src="Js/privileges.js"></script>

  <!-- <Script>
            GetUser();
        </Script>   -->
  <Script> // guestprivileges(); </Script>
</html>
