@{
    ViewBag.Title = "About";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="~/Scripts/Assets/Webfonts/styles/all.css" />
    <link rel="stylesheet" href="styles/dashboardNav.css" />
    <link rel="stylesheet" href="styles/dashboard.css" />
    <link rel="stylesheet" href="styles/footer.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <script type="text/javascript" src="~/Scripts/Assets/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <nav id="Nav">
        <a href="/">
            <img src="images/tulu-logo_white.png" alt="">
        </a>
        <div class="menuButton" onclick="slideMenu()">
            <i class="fas fa-bars fa-2x menuBtn"></i>
            <i class="fas fa-times fa-2x closeMenuBtn"></i>
        </div>
    </nav>
    <a href="~/Views/Shared/_Dashboard.vbhtml">~/Views/Shared/_Dashboard.vbhtml</a>

    <div id="SideMenu" class="sideMenu">
        <ul class="menu">
            
        </ul>
        <p class="loggedInAs"></p>
    </div>

    <div class="container body-content">
        <div class="header">
            <h1>SysAdmin Dashboard</h1>
        </div>
    </div>
</body>
<script src="~/Scripts/Assets/Js/sideMenu.js"></script>
<script type="text/javascript" src="~/Scripts/Assets/Js/Helpers/SysAdminHelper.js"></script>
<script type="text/javascript">
    window.onload = function () {
        DealerDashboardSummary();
    }
</script>
<script src="~/Scripts/Assets/Js/privileges.js"></script>
    </script>

    @if (User.Identity.IsAuthenticated) {
        <Script>
            GetUser();
        </Script>      
    }else{
        <Script>
            guestprivileges();
        </Script> 
    }
</html>