
<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="images/favicon.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tulu Canada</title>
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/css/all.css" />
    <link rel="stylesheet" href="styles/dashboardNav.css" />
    <link rel="stylesheet" href="styles/dashboardUser.css" />
    <link rel="stylesheet" href="styles/footer.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <script type="text/javascript" src="jquery/dist/jquery.js"></script>
</head>
<body>
    <nav id="Nav">
        <a href="/">
            <img src="images/tulu-logo_white.png" alt="">
        </a>
        <div class="menuButton" onclick="slideMenu()">
            <i class="fas fa-bars fa-2x menuBtn"></i>
            <i class="fas fa-times fa-2x closeMenuBtn"></i>
        </div>
    </nav>
    <a href="~/Views/Shared/_Dashboard.vbhtml"></a>

    <div id="SideMenu" class="sideMenu">
        <ul class="menu">
            <%- include partials/sidemenu %>
            
        </ul>
        <p class="loggedInAs"></p>
    </div>


    <div class="container body-content">
        <div class="header">
            <h1>Users</h1>
        </div>
        <div class="users">
            <div id="DealerList"></div>
            <div id="DealerDiv">
            </div>

            <div class="addUser">
               <i class="fas fa-plus" onclick="ShowAddNewUser();"></i>
            </div>
        </div>


        <div class="addNewUser">
            <div class="addNewUserForm" id="addNewUserForm">
                <div class="addingUserContainer">
                    <label for="">
                        DealerID:
                    </label>
                    <input type="text" class="dealerId" id="dealerId" disabled>
                    <label for="">
                        Email:
                    </label>
                    <input type="text" class="email" id="email">
                    <label for="">
                        First Name:
                    </label>
                    <input type="text" class="fname" id="fname">
                    <label for="">
                        Last Name:
                    </label>
                    <input type="text" class="lname" id="lname">
                    <label for="">
                        Linked In:
                    </label>
                    <input type="text" class="linkedIn" id="linkedIn">
                    <label for="">
                        Facebook:
                    </label>
                    <input type="text" class="facebook" id="facebook">
                    <button class="addUserBtn" onclick="goToNext();">Next</button>
                </div>
                <div class="addingUserAddressContainer">
                    <label for="">
                        City:
                    </label>
                    <input type="text" class="city" id="city">
                    <label for="">
                        Province:
                    </label>
                    <input type="text" class="province" id="province">
                    <label for="">
                        Postal:
                    </label>
                    <input type="text" class="postal" id="postal">
                    <label for="">
                        Street:
                    </label>
                    <input type="text" class="street" id="street">
                    <button class="addUserBtn" onclick="AddUser()">ADD USER</button>
                    <button class="cancelBtn" onclick="HideAddNewUser()">CANCEL</button>
                </div>
            </div>
        </div>

        <div class="searchUser">
            <div class="addNewUserForm">
                <label for="name">Email or Name</label>
                <input type="text" name="name" id="searchInput">
                <button class="addUserBtn" onclick="SearchUser();">SEARCH</button>
                <button class="cancelBtn" onclick="HideSearchUser()">CANCEL</button>
            </div>
        </div>

        <div class="userListContainer">
            <ul class="userList">
                <li>

                </li>
            </ul>
        </div>

        <div class="editUser">
            <div class="editUserForm">
                Name: <input type="text" id="EditName" value="" /><br />
                Logo: <input type="text" id="EditLogo" value="" /><br />
                Hours: <input type="text" id="EditHours" value="" /><br />
                Website: <input type="text" id="EditWebsite" value="" /><br />
                Address Street: <input type="text" id="EditStreet" value="" /><br />
                Address City: <input type="text" id="EditCity" value="" /><br />
                Address Province: <input type="text" id="EditProvince" value="" /><br />
                Address Postal: <input type="text" id="EditPostal" value="" /><br />

                <button onclick="SaveEdit()">SAVE EDIT</button>
                <button class="cancelBtn" onclick="HideEditUser()">CANCEL</button>
            </div>
        </div>
    </div>
</body>
<script src="Js/sideMenu.js"></script>
<script src="Js/dashboardUser.js"></script>
<script type="text/javascript" src="Js/Helpers/DealerHelper.js"></script>
<script type="text/javascript">
var currDealerId = "";
    window.onload = function () {
        ListDealers();
        GetCurrentUser();
    }
</script>
<script src="Js/privileges.js"></script>
    </script>

    <!-- <Script>
            GetUser();
        </Script>   -->
        <Script>
            // guestprivileges();
        </Script> 
</html>
