
<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="images/favicon.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tulu Canada</title>
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/css/all.css" />
    <link rel="stylesheet" href="styles/dashboardNav.css" />
    <link rel="stylesheet" href="styles/dashboardTulu.css" />
    <link rel="stylesheet" href="styles/footer.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <script type="text/javascript" src="jquery/dist/jquery.js"></script>
</head>
<body>
    <nav id="Nav">
        <a href="/">
            <img src="images/tulu-logo_white.png" alt="">
        </a>
        <div class="menuButton" onclick="slideMenu()">
            <i class="fas fa-bars fa-2x menuBtn"></i>
            <i class="fas fa-times fa-2x closeMenuBtn"></i>
        </div>
    </nav>
    <a href="~/Views/Shared/_Dashboard.vbhtml"></a>

    <div id="SideMenu" class="sideMenu">
        <ul class="menu">
            <%- include partials/sidemenu %>
            
        </ul>
        <p class="loggedInAs"></p>
    </div>


    <div class="container body-content">
        <div class="header">
            <h1>Tulus</h1>
        </div>
        <div class="users">
            <div id="TuluList"></div>
        </div>
    </div>
</body>
<script src="Js/sideMenu.js"></script>
<script src="Js/privileges.js"></script>
<script src="Js/DashboardSysAdminTulu.js"></script>
<script>
    var tuluList = <%-JSON.stringify(tulu)%>;
    console.log(tuluList);
    var userList = <%-JSON.stringify(users)%>;
    console.log(userList);
    populateTulu()
</script>
</html>
