

<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="images/favicon.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tulu Canada</title>
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/css/all.css" />
    <link rel="stylesheet" href="styles/nav.css" />
    <link rel="stylesheet" href="styles/dealership.css" />
    <link rel="stylesheet" href="styles/footer.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"> 
    <script type="text/javascript" src="jquery/dist/jquery.min.js"></script>
</head>
<body>
    <nav id="Nav">
        <a href="/">
            <img src="images/tulu-logo_white.png" alt="">
        </a>
        <div class="menuButton" onclick="slideMenu()">
            <i class="fas fa-bars fa-2x menuBtn"></i>
            <i class="fas fa-times fa-2x closeMenuBtn"></i>
        </div>
    </nav>

    <div id="SideMenu" class="sideMenu">
        <ul class="menu">
            <%- include partials/sidemenu %>
            
        </ul>
        <p class="loggedInAs"></p>
    </div>


    <div class="container body-content">
        <div class="dealerContainer">
            <header></header>
            <div class="dealershipBox">
                <div class="dealerInfo">
                    <div class="dealerImage">
                        <div class="dealerImageBorder">
                            <img src="" alt="">
                        </div>
                    </div>
                    <h3>Dealership Name</h3>
                    <h4>Dealership Address</h4>
                    <p class="phoneNumber">403-123-4567</p>
                    <p class="hours">Open - Close 8:pm</p>
                </div>
                <ul id="dealerListingList" class="dealerListingList">
                </ul>
            </div>
        </div>
    </div>
    <footer>
        <ul class="footerList">
            <li class="footerListItem">
                <a href="/">
                    <h4>Partners</h4>
                </a>
                <ul class="footerSubLinkList">
                    <li class="SubLinkListItem">
                        <a href="/DealershipList">Dealerships</a>
                    </li>
                </ul>
            </li>
            <li class="footerListItem">
                <a href="/">
                    <h4>Customer Support</h4>
                </a>
                <ul class="footerSubLinkList">
                    <li class="SubLinkListItem">
                        <a href="/faq">FAQ</a>
                    </li>
                   
                </ul>
            </li>
        </ul>
    </footer>


</body>
<script src="Js/sideMenu.js"></script>
<script src="Js/dealership.js"></script>
<script src="Js/privileges.js"></script>
    </script>

    <!-- <Script>
            GetUser();
        </Script>   -->
        <Script>
            // guestprivileges();
        </Script> 
</html>