

<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/png" href="images/favicon.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tulu Canada</title>
    <link rel="stylesheet" href="styles/reset.css" />
    <link rel="stylesheet" href="styles/css/all.css" />
    <link rel="stylesheet" href="styles/nav.css" />
    <link rel="stylesheet" href="styles/editProfile.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <script type="text/javascript" src="jquery/dist/jquery.min.js"></script>
</head>
<body>
    <nav id="Nav">
        <a href="/">
            <img src="images/tulu-logo_white.png" alt="">
        </a>
        <div class="menuButton" onclick="slideMenu()">
            <i class="fas fa-bars fa-2x menuBtn"></i>
            <i class="fas fa-times fa-2x closeMenuBtn"></i>
        </div>
    </nav>

    <div id="SideMenu" class="sideMenu">
        <ul class="menu">
            
        </ul>
        <p class="loggedInAs"></p>
    </div>


    <div class="header" id="Header">
        <div class="banner">
        </div>
        <div class="userInfo">
            <div class="userImage" id="userImage" onclick="$(`#photos-input`).click()">
                <i class="fas fa-user fa-2x" id="userIcon"></i>
                <i class="fas fa-plus"></i>
            </div>
            <form id="upload-photos" method="post" action="/api/file/upload" enctype="multipart/form-data">
                		<div class="form-group" style="display:none;">
                    		<label for="photos-input">Load Image</label>
                   			<input id="photos-input" type="file" name="photos[]" onchange="uploadImage()" multiple="multiple" accept="image/*" capture />
                   		<input class="btn btn-default" id="uploadBtn" style="display:none;" type="submit" name="Photo Uploads" value="Upload" />
                   
                </div>
                <div id="thumbnailContainer">
                
                </div>
                		<input type="hidden" name="csrf_token" value="just_a_text_field" />
                     <button type="button" class="addImageBtn" onclick="addImage()">ADD PHOTOS</button>
                
            </form>
            <div action="" class="editForm">
                <label for="email">Email:</label>
                <div class="inputContainer">
                    <input type="text" id="email" class="email" name="email" value="email"><br>
                </div>
                
                <label for="name">First Name:</label>
                <div class="inputContainer">
                    <input type="text" id="fname" class="fname" name="fname"><br>
                </div>
                <label for="name">Last Name:</label>
                <div class="inputContainer">
                    <input type="text" id="lname" class="lname" name="lname"><br>
                </div>
                <label for="password">New Password:</label>
                <div class="inputContainer">
                    <input type="password" id="password" class="password" name="password">
                </div>
                <label for="confirmPassword">Confirm Password:</label>
                <div class="inputContainer">
                    <input type="password" id="confirmPassword" class="confirmPassword" name="confirmPassword">
                </div>
                <label for="address">Address:</label>
                <div class="addressContainer" id="addressContainer">
                    <p class="address"></p>
                    <i class="fas fa-times"></i>
                </div>
                <div class="addAddress">
                    <label for="street">Street:</label>
                    <div class="inputContainer">
                        <input type="text" id="street" class="street" name="street"><br>
                    </div>
                    <label for="city">City:</label>
                    <div class="inputContainer">
                        <input type="text" id="city" class="city" name="city"><br>
                    </div>
                    <label for="province">Province:</label>
                    <div class="inputContainer">
                        <input type="text" id="province" class="province" name="province"><br>
                    </div>
                    <label for="postalCode">Postal Code:</label>
                    <div class="inputContainer">
                        <input type="text" id="postalCode" class="postalCode" name="postalCode"><br>
                    </div>
                    <button class="saveEditBtn" onclick="AddNewAddress()">
                        Add Address
                    </button>
                </div>
                @* <label for="phone">Phone Number:</label>
                <div class="phoneContainer" id="phoneContainer">
                    <p class="phoneNumber"></p>
                    <i class="fas fa-times"></i>
                </div>
                <div class="addPhone">
                    <label for="phone">Add Phone Number:</label>
                    <div class="inputContainer">
                        <input type="text" id="phone" class="phone" name="phone"><br>
                    </div>
                    <button class="saveEditBtn" onclick="AddNewPhone()">
                        Add Phone
                    </button>
                </div> *@
                <label for="ig">Instagram:</label>
                <div class="inputContainer">
                    <input type="text" id="ig" class="ig" name="ig"><br>
                </div>
                <label for="fb">Facebook:</label>
                <div class="inputContainer">
                    <input type="text" id="fb" class="fb" name="fb"><br>
                </div>
                <label for="linkedIn">LinkedIn:</label>
                <div class="inputContainer">
                    <input type="text" id="linkedIn" class="linkedIn" name="linkedIn"><br>
                </div>
                <label for="bio">Bio:</label>
                <div class="inputContainer">
                    <textarea type="text" id="bio" class="bio" name="bio"></textarea>
                </div>
                <button class="saveEditBtn" onclick="SaveChanges()">
                    Save Changes
                </button>
                <button class="cancelEditBtn" onclick="cancelChanges()">
                    Cancel
                </button>
            </div>
        </div>

        </div>
</body>
<script src="Js/sideMenu.js"></script>
<script>
    var gUser = null;
    window.onload = function () {
        GetCurrentUser();
    }

    function GetCurrentUser() {
        //FIXME: I think this needs to be deleted
        $.ajax({
            type: "PUT",
            url: "/Users/Current",
            cache: false,
            dataType: "json",
            contentType: "application/x-www-form-urlencoded",
            success: function (results) {
                console.log(results);
                gUser = results;
                populatePage(results);
            },
            error: function (results) {
                alert("Error");
            },
        });
    }

    function populatePage(userInfo){
        $('#email').val(userInfo.email);
        $('#fname').val(userInfo.firstName);
        $('#lname').val(userInfo.lastName);

                var address=""
        if(userInfo.address.street != ""){
            address+=userInfo.address.street +', ';
        }
        if(userInfo.address.city != ""){
            address+=userInfo.address.city +', ';
        }
        if(userInfo.address.province != ""){
            address+=userInfo.address.province +', ';
        }
        if(userInfo.address.postal != ""){
            address+=userInfo.address.postal;
        }
        $('.address').append(address);

        $('.phoneNumber').val(userInfo.phoneNumber);

        $('#ig').val(userInfo.instagram);
        $('#fb').val(userInfo.facebook);
        $('#linkedIn').val(userInfo.linkedIn);
        $('#bio').val(userInfo.bio);
    }

    function SaveChanges() {
        //FIXME: I think this needs to be deleted
        var obj = new Object();
        var currentUser = new Object();
        var roles = new Object();
        var address = new Object();

        currentUser.email = $('#email').val();
        currentUser.firstName = $('#fname').val();
        currentUser.lastName = $('#lname').val();
        currentUser.instagram = $('#ig').val();
        currentUser.facebook = $('#fb').val();
        currentUser.linkedIn = $('#linkedin').val();
        currentUser.bio = $('#bio').val();
        
        currentUser.roles = JSON.stringify(gUser.roles);
        currentUser.address = gUser.address;
        obj.json_string = JSON.stringify(currentUser);
    
        $.ajax({
            type: "PUT",
            url: "/Users/Save",
            data: obj,
            cache: false,
            dataType: "json",
            contentType: "application/x-www-form-urlencoded",
            success: function (results) {
                console.log(results)
            },
            error: function (results) {
                alert("Error");
            },
        });
        
    }

    function UpdateUser(user) {
        return user;
    }

</script>
<script src="Js/privileges.js"></script>
    </script>

    @if (User.Identity.IsAuthenticated) {
        <Script>
            GetUser();
        </Script>      
    }else{
        <Script>
            guestprivileges();
        </Script> 
    }
</html>