<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" href="../images/favicon.png" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tulu Canada</title>
    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/css/all.css" />
    <link rel="stylesheet" href="../styles/nav.css" />
    <link rel="stylesheet" href="../styles/finance.css" />
    <link rel="stylesheet" href="../styles/financeBase.css" />
    <link rel="stylesheet" href="../styles/finance 2.css" />
    <link rel="stylesheet" href="../styles/footer.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />

    <script type="text/javascript" src="../jquery/dist/jquery.min.js"></script>
  <%- include partials/googleAnalytics %>
</head>
  <body>
    <nav id="Nav">
        <a href="/">
            <img src="../images/tulu-logo_white.png" alt="">
        </a>
        <div class="menuButton" onclick="slideMenu()">
            <i class="fas fa-bars fa-2x menuBtn"></i>
            <i class="fas fa-times fa-2x closeMenuBtn"></i>
        </div>
    <%- include partials/navbar %>
    </nav>
    <div class="dropDownMenu">
        <ul>
            <%- include partials/dropDownMenu %>
        </ul>
    </div>

    <div id="SideMenu" class="sideMenu">
      <ul class="menu">
        <%- include partials/sidemenu %>
      </ul>
      <p class="loggedInAs"></p>
    </div>

    <form method="post" action="/finance/finance">
      <section class="landingSection">
          <div class="left">
              <h1>Pre-Qualify for the Car of Your Choice</h1>
              <p>No Appointments, No Obligation and Free to Apply</p>
              <p style="font-size: 10px;">Requirements: macOS, Windows or Android and less than 5 minutes of your time!</p>
              <p>Are you looking for a new or used vehicle?</p>
              <div class="buttonContainer">
                  <button type="button" onclick="selectNew()">New</button>
                  <button type="button" onclick="selectUsed()">Used</button>
              </div>
              <input type="text" class="hiddenInput" id="condition" name="condition">
              <p>We have $0 down options available, making it even easier for you to get the car you want.</p>
          </div>
          <img src="../images/car.png" alt="">
      </section>
      
      <div class="wrapper">
          <div class="page" id="page0">
              <h2>
                  Let's Get Started!
              </h2>
              <div class="infoContainer">
                  <div class="basicInfoContainer">
                      <label for="">First Name:</label>
                      <input type="text" name="fname" id="fname" onchange="activateBasicInfo()">
                  </div>
                  <div class="basicInfoContainer">
                      <label for="">Last Name:</label>
                      <input type="text" name="lname" id="lname" onchange="activateBasicInfo()">
                  </div>
                  <div class="basicInfoContainer">
                      <label for="">Email:</label>
                      <input type="email" name="email" id="email" onchange="activateBasicInfo()">
                  </div>
                  <div class="basicInfoContainer">
                      <label for="">Phone Number:</label>
                      <input type="text" name="number" id="number" onchange="activateBasicInfo()">
                  </div>
                  <div class="basicInfoContainer">
                      <label for="">Preferred method:</label>
                      <input type="radio" name="contact"  id="radioEmail" value="Email" onchange="activateBasicInfo()">
                      <label for="">Email</label>
                      <input type="radio" name="contact" id="radioPhone" value="Phone" onchange="activateBasicInfo()">
                      <label for="">Phone</label>
                  </div>
              </div>
              <button type="button" onclick="continueForm()" disabled id="basicInfoBtn">
                  CONTINUE
              </button>
          </div>
          <div class="page" id="page1">
              <h2>
                  What Type of Vehicle Do You Want?
              </h2>
              <ul class="cardItems">
                  <li class="vehicleTypeSuv" onclick="selectSuv()">
                      SUV
                  </li>
                  <li class="vehicleTypeCar" onclick="selectCar()">
                      CAR
                  </li>
                  <li class="vehicleTypeTruck" onclick="selectTruck()">
                      TRUCK
                  </li>
                  <li class="vehicleTypeVan" onclick="selectVan()">
                      VAN
                  </li>
              </ul>
              <input type="text" class="hiddenInput" id="vehicleType" name="vehicleType">
              <button type="button" onclick="continueForm()" disabled id="vehicleTypeBtn">
                  CONTINUE
              </button>
              <p style="margin:20px 0 0 0;">Page 1 of 8</p>
          </div>
          <div class="page" id="page2">
              <h2>
                  What is Your Monthly Budget For a Vehicle?
              </h2>
              <ul class="cardItems">
                  <li class="budgetOne" onclick="budgetOne()">
                      Under $250 / month
                  </li>
                  <li class="budgetTwo" onclick="budgetTwo()">
                      $250 - 374 / month
                  </li>
                  <li class="budgetThree" onclick="budgetThree()">
                      $375 - 500 / month
                  </li>
                  <li class="budgetFour" onclick="budgetFour()">
                      Over $500 / month
                  </li>
              </ul>
              <input type="text" class="hiddenInput" id="budget" name="budget">
              <button type="button" onclick="continueForm()" disabled id="budgetBtn">
                  CONTINUE
              </button>
              <p>*Find vehicle options that fit your monthly budget.* </p>
              <p style="margin:20px 0 0 0;">Page 2 of 8</p>
          </div>
          <div class="page" id="page3">
              <h2>
                  Do You Have a Vehicle to Trade?
              </h2>
              <ul class="cardItems">
                  <li class="tradeOne" onclick="tradeOne()">
                      Yes
                  </li>
                  <li class="tradeTwo" onclick="tradeTwo()">
                      No
                  </li>
                  <li class="tradeThree" onclick="tradeThree()">
                      Unsure
                  </li>
              </ul>
              <input type="text" class="hiddenInput" id="trade" name="trade">
              <button type="button" onclick="continueForm()" disabled id="tradeBtn">
                  CONTINUE
              </button>
              <p>*If yes we will need additional information in the future.* </p>
              <p style="margin:20px 0 0 0;">Page 3 of 8</p>
          </div>
          <div class="page" id="page4">
              <h4 style="margin:0 0 40px 0; color: #79C6AC;">You're Halfway There!</h4>
              <h2>
                  What Is Your Credit Score?
              </h2>
              <ul class="cardItems">
                  <li class="creditOne" onclick="creditOne()">
                          Good (Over 650)
                  </li>
                  <li class="creditTwo" onclick="creditTwo()">
                          Fair (550-650)
                  </li>
                  <li class="creditThree" onclick="creditThree()">
                          Poor (Under 550)
                  </li>
                  <li class="creditFour" onclick="creditFour()">
                          Current Bankruptcy
                  </li>
                  <li class="creditFive" onclick="creditFive()">
                          No Credit / Unsure
                  </li>
              </ul>
              <input type="text" class="hiddenInput" id="creditScore" name="creditScore">
              <button type="button" onclick="continueForm()" disabled id="creditScoreBtn">
                  CONTINUE
              </button>
              <p style="margin:20px 0 0 0;">Page 4 of 8</p>
          </div>
          <div class="page" id="page5">
              <h2>
                  What is Your Employment Status?
              </h2>
              <ul class="cardItems">
                  <li class="employmentOne" onclick="employmentOne()">
                          Employed
                  </li>
                  <li class="employmentTwo" onclick="employmentTwo()">
                          Self-Employed
                  </li>
                  <li class="employmentThree" onclick="employmentThree()">
                          Student
                  </li>
                  <li class="employmentFour" onclick="employmentFour()">
                          Retired / Pension
                  </li>
                  <li class="employmentFive" onclick="employmentFive()">
                          Other
                  </li>
              </ul>
              <input type="text" class="hiddenInput" id="employment" name="employment">
              <button type="button" onclick="continueForm()" disabled id="employmentBtn">
                  CONTINUE
              </button>
              <p style="margin:20px 0 0 0;">Page 5 of 8</p>
          </div>
          <div class="page" id="page6">
              <h2>
                  Income Details Please Select One
              </h2>
              <ul class="cardItems">
                  <li class="incomeOne" onclick="incomeOne()">
                      I know my annual income
                  </li>
                  <li class="incomeTwo" onclick="incomeTwo()">
                          I know my hourly wage
                  </li>
                  <li class="incomeThree" onclick="incomeThree()">
                          I know my monthly income
                  </li>
                  <li class="incomeFour" onclick="incomeFour()">
                          Other
                  </li>
              </ul>
              <input type="text" class="hiddenInput" id="incomeDetails" name="incomeDetails">
              <button type="button" onclick="continueForm()" disabled id="incomeDetailsBtn">
                  CONTINUE
              </button>
              <p style="margin:20px 0 0 0;">Page 6 of 8</p>
          </div>
          <div class="page" id="page7">
              <h4 style="margin:0 0 40px 0; color: #79C6AC;">Almost There!</h4>
              <h2>
                 What Is Your Gross Monthly Income
              </h2>
              <div class="inputWrapper">
                  <div class="inputContainer">
                      <label for="">$</label>
                      <input type="text" id="hourly" onchange="hourActivate()" name="hourly">
                  </div>
              </div>
              <button type="button" onclick="continueForm()" id="hoursBtn" disabled>
                  CONTINUE
              </button>
              <p>
                  *Knowing your income will help us determine the total amount you qualify for.*
              </p>
              <p style="margin:20px 0 0 0;">Page 7 of 8</p>
          </div>
          <div class="page" id="page8">
              <h2>
                  What is The Name of Your Employer?
              </h2>
              <div class="inputWrapper">
                  <div class="inputContainer">
                      <input type="text" id="employer" onchange="employerActivate()" name="employer">
                  </div>
              </div>
              <button type="button" onclick="continueForm()" id="employerBtn" disabled>
                  CONTINUE
              </button>
              <button type="button" onclick="continueForm()" id="employerBtn">
                  SKIP
              </button>
              <p>*We won't come visit, but we need these details to confirm your employment status so you can get the best rates possible.*</p>
              <p style="margin:20px 0 0 0;">Page 8 of 8</p>
          </div>
          <div class="page" id="page9">
              <img src="../images/tulu-logo_RGB.png">
              <div class="checkboxContainer">
                  <div class="emailConsent consent"  onclick="emailConsent()">
                      <input type="checkbox"name="emailConsent" id="emailConsent" value="yes">
                      <p>I consent to receive emails</br></p>
                  </div>
                  <div class="privacyConsent consent" onclick="privacyConsent()">
                      <input type="checkbox" name="privacyConsent" id="privacyConsent" value="yes">
                      <p id="privacy">I have read and agree to the <a href="/PrivacyPolicy" target="_blank"><span style="color:#14bf98;text-decoration:underline;">Privacy Notice</span></a></p>
                  </div>
                  
                  
              </div>
              <button type="button" onclick="continueForm()" id="consentBtn" disabled>
              
                  CONTINUE
              </button>
          </div>
      </div>
      
      <div class="congratPopUp">
          <div class="cardContainer">
              <div class="title">
                  <i class="fas fa-check-circle fa-4x"></i>
                  <h3>Congratulations!</h3>
              </div>
              <p>You Qualify for Pre-Approval in:</p>
              <h3 class="location">Calgary</h3>
              <p>
               One of our team members will be in touch regarding your application. In the meantime, you can contact us directly by phone at 1-833-580-8858 or by email at info@tulucanada.com
              </p>
              <!--<p>-->
              <!--    Membership in the affinity Program is governed by the rules for membership in tulu Canada!-->
              <!--</p>-->
              <p>By clicking on the Continue Button, I confirm my agreement to tulu Canada's Privacy Policy, my consent to tulu Canada and all members of tulu Canada recording all my calls for quality assurance and training purposes, and my consent to tulu Canada, Car dealers and lenders obtaining credit reports about me to facilitate my application for a car loan.</p>
              <!--<input type="submit" name="submit"value="CONTINUE" id="popUpBtn">-->
               <button type="submit"  id="popUpBtn" name="subscribe" onClick="Done()" disabled>
                  CONTINUE
              </button>
              </form>
              <!--<button type="submit" onclick="Done()" id="popUpBtn">-->
              <!--    CONTINUE-->
              <!--</button>-->
              
          </div>
      </div>

  </body>
  <script src="../Js/sideMenu.js"></script>
  <script src="../Js/financeUI.js"></script>
  <script src="../Js/financeUI2.js"></script>
</html>
