<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="images/favicon.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lord Tapulao | Game</title>
    <link rel="stylesheet" href="styles/reset.css">
    <link href="styles/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/game.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700,800,900&display=swap" rel="stylesheet">
    <script src= 
"https://code.jquery.com/jquery-1.12.4.min.js"> 
    </script> 
</head>
<body>
    <main>
        <section>
            <img class="background backTrees" src="assets/backTrees.png" alt="">
            <img class="background frontTrees" src="assets/frontTrees.png" alt="">

            <img class="Random hang papajohns" src="assets/Random/papajohns.png" alt="">
            <img class="Random  hang mcd" src="assets/Random/mcd.png" alt="">
            <img class="Random hang lubecity" src="assets/Random/lubecity.png" alt="">
            <img class="Random wanted" src="assets/Random/wanted.png" alt="">
            <img class="Random decalCityBoard" src="assets/Random/decalCityBoard.png" alt="">
            
            <img class="background backPlants" src="assets/backPlants.png" alt="">
            
            <img class="Random education" src="assets/Random/education.png" alt="">
            <img class="Random skills2" src="assets/Random/skills2.png" alt="">
            <img class="Random hang frontEndBoard" src="assets/Random/frontEndBoard.png" alt="">
            
            <img class="background ground" src="assets/ground.png" alt="">
            
            <img class="Random skills1" src="assets/Random/skills1.png" alt="">
            <img class="Random oil" src="assets/Random/oil.png" alt="">
            <img class="Random crate2" src="assets/Random/crate2.png" alt="">
            
            <div class="box">
                <div class="shadow"></div>
                <div class="characterContainer">
                    <img class="character leftArm" src="assets/characterBits/leftArm.png" alt="">
                    <img class="character leftLeg" src="assets/characterBits/leftLeg.png" alt="">
                    <img class="character rightLeg" src="assets/characterBits/rightLeg.png" alt="">
                    <img class="character torso" src="assets/characterBits/torso.png" alt="">
                    <img class="character rightArm" src="assets/characterBits/rightArm.png" alt="">
                </div>
            </div> 
            
            <img class="Random crate1" src="assets/Random/crate1.png" alt="">
            <img class="Random chicken" src="assets/Random/chicken.png" alt="">
            
            <img class="background frontPlants" src="assets/frontPlants.png" alt="">
            
            <img class="Random educationBoard" src="assets/Random/educationBoard.png" alt="">
            <img class="Random aboutBoard" src="assets/Random/aboutBoard.png" alt="">
            <img class="Random skills" src="assets/Random/skills.png" alt="">
            <img class="Random workBoard" src="assets/Random/workBoard.png" alt="">
        </section>
        <div class="noticeBox">
            <h1 class="notice">Game only available for Desktops</h1>
            <a class="button" href="/">
                <button>
                    BACK
                </button>
            </a>
        </div>
    </main>
    <%- include partials/footer %>
</body>
<script src="JavaScript/animateCharacter.js"></script>
<script src="JavaScript/controls.js"></script>
</html>