<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="images/favicon.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lord Tapulao | Projects</title>
    <link rel="stylesheet" href="styles/reset.css">
    <link href="styles/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="styles/projectStyle.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700,800,900&display=swap" rel="stylesheet">
</head>
<body class="bodyContainer">
    <main>
        <section id="projects">
            <h1 class="sectionHeading projectHeading">RECENT PROJECTS</h1>
            <p style="font-size: x-large; padding:0 5vw;">July 2020 - Current</p>
            <div class="project recentProject">
                <img src="images/recent/tulu.png" class="TuluImage">
                <div class="projectInfo projectTulu">
                    <h2 class="projectTitle">TULU CANADA</h2>
                    <p class="projectDescription">Building a social marketplace and system where the process is transparent.
                        </p>
                </div>
            </div>

            <div class="project recentProject covidProject">
                <div class="projectInfo projectCovid">
                    <h2 class="projectTitle projectCovid">Covid19 App</h2>
                    <p class="projectDescription">A monitoring app that gives daily updates of the corona virus. The app will show confirmed cases, deaths, recoveries, histories, safety tips and a map of infected areas.
                        </p>
                </div> 
                <img src="images/recent/Covid.png" class="CovidImage">
            </div>
            
            <h1 class="sectionHeading projectHeading">OLD PROJECTS</h1>
            <div class="project projectPlanet">
                <div class="projectInfo">
                    <h2 class="projectTitle">#1 Planetarium API</h2>
                    <p class="projectDescription">Manipulating API and Animating Planet Map using
                        CSS3 and JavaScript
                        </p>
                    <div class="buttonContainer">
                        <a href="https://planet-api.netlify.com/" target="_blank">
                            <button>
                                DEMO
                            </button>   
                        </a>
                        <a href="https://github.com/LTapsy/Planet-API" target="_blank">
                            <button>
                                SOURCE CODE
                            </button> 
                        </a>
                    </div>
                </div>
                <div class="projectImage"></div>
                <div class="projectPlanetEarth"></div>
            </div>
            <div class="project otherProject">
                <div class="projectImage2">
                    <img class="blank" src="images/projects/blank.png" alt="spacer">
                    <a class="" href="https://planet-api.netlify.com/" target="_blank">
                        <img class="projectCardImage1" src="images/projects/planetapi.png" alt="planetarium">
                    </a>
                    <img class="blank" src="images/projects/blank.png" alt="spacer">
                    <img class="blank" src="images/projects/blank.png" alt="spacer">
                    <!-- <a class="projectCardImage2" href="https://dev-macewan-university.pantheonsite.io/" target="_blank"> -->
                    <a class="projectCardImage2" href="" target="_blank">
                        <img class="projectCardImage2" src="images/projects/mcewan.png" alt="mcewanUniversity">
                    </a>
                    <a class="projectCardImage3" href="https://ltapsy.github.io/jekyllwebportfolio/" target="_blank">
                        <img class="projectCardImage3" src="images/projects/jekyll.png" alt="JekyllPortfolio">
                    </a>
                    <img class="blank" src="images/projects/blank.png" alt="spacer">
                    <a class="projectCardImage4"href="https://decalcity.herokuapp.com/" target="_blank">
                        <img class="projectCardImage4" src="images/projects/decalcity.png" alt="decalCity">
                    </a>
                    <img class="projectCardImage5" src="images/projects/heroes.png" alt="heroes">
                    <img class="projectCardImage6" src="images/projects/multimedia.png" alt="multimedia">
                    <img class="projectCardImage7" src="images/projects/hamburgerbutton.png" alt="hamburgerbutton">
                    <img class="projectCardImage8" src="images/projects/mockup.png" alt="mockup">
                    <!-- <a href="https://wonderful-kowalevski-5c5879.netlify.com/"> -->
                    <a href="">
                        <img class="projectCardImage9" src="images/projects/digimon.png" alt="digimon">
                    </a>
                    <!-- <a class="projectCardImage10" href="https://subcription.herokuapp.com/" target="_blank"> -->
                    <a class="projectCardImage10" href="" target="_blank">
                        <img class="projectCardImage10" src="images/projects/subscribe.png" alt="subscribe">
                    </a>
                    <img class="blank" src="images/projects/blank.png" alt="spacer">
                    <img class="projectCardImage11" src="images/projects/facepalm.png" alt="facepalm">
                    <a class="projectCardImage12" href="https://ltapsy.github.io/blog/" target="_blank"">
                        <img class="projectCardImage12" src="images/projects/blog.png" alt="blog">
                    </a>
                    <img class="blank" src="images/projects/blank.png" alt="spacer">
                    <a class="projectCardImage13" href="https://ltapsy.github.io/" target="_blank">
                        <img class="projectCardImage13" src="images/projects/landing.png" alt="landingPage">
                    </a>
                </div>
            </div>
            <div style="display:none;"class="illustratorSection">
                <h2 class="projectTitle">Illustrator & Animation</h2>
                <div class="characterContainer">
                    <div class="box">
                        <div class="characterContainer">
                            <img class="character leftArm" src="assets/characterBits/leftArm.png" alt="">
                            <img class="character leftLeg" src="assets/characterBits/leftLeg.png" alt="">
                            <img class="character rightLeg" src="assets/characterBits/rightLeg.png" alt="">
                            <img class="character torso" src="assets/characterBits/torso.png" alt="">
                            <img class="character rightArm" src="assets/characterBits/rightArm.png" alt="">
                        </div>
                    </div> 
                </div>
                <div class="components">
                    <h2 class="projectTitle componentsTitle">Components :</h2>
                    <img src="assets/components/torso.png" alt="">
                    <img src="assets/components/leftArm.png" alt="">
                    <img src="assets/components/leftLeg.png" alt="">
                    <img src="assets/components/rightLeg.png" alt="">
                    <img src="assets/components/rightArm.png" alt="">
                </div>
            </div>
        </section>
    </main>
    <%- include partials/footer %>
</body>
<script src="JavaScript/animateCharacter.js"></script>
</html>