

<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="../image/png" href="../images/favicon.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tulu Canada</title>
    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/css/all.css" />
    <link rel="stylesheet" href="../styles/nav.css" />
    <link rel="stylesheet" href="../styles/viewTulu.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <script type="text/javascript" src="../jquery/dist/jquery.min.js"></script>
</head>
<body>
    <nav id="Nav">
        <a href="/">
            <img src="../images/tulu-logo_white.png" alt="">
        </a>
        <div class="menuButton" onclick="slideMenu()">
            <i class="fas fa-bars fa-2x menuBtn"></i>
            <i class="fas fa-times fa-2x closeMenuBtn"></i>
        </div>
    </nav>

    <div id="SideMenu" class="sideMenu">
        <ul class="menu">
            <%- include partials/sidemenu %>
            
        </ul>
        <p class="loggedInAs"></p>
    </div>

    <div class="container body-content">
        <div class="wrapper" id="wrapper">

            <div class="banner">
            </div>
            <div class="userInfo">
                <div class="userImage">
                    <i class="fas fa-user fa-4x"></i>
                </div>
                <h3 class="userName">
                </h3>
                <p class="userRole">
                </p>
                <div class="userRating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p class="carsSold">Cars sold:<span>0</span></p>
                <p class="userBio">
                    
                </p>
                <ul class="socialMediaAccounts">
                    
                </ul>
                <div class="subInfo">
                    <h4>
                        Experience:
                    </h4> 
                    <p class="experience">
                        
                    </p>
                    <h4>
                        Specialty:
                    </h4>
                    <p class="specialty">
                    </p>
                    <h4>
                    Favourite Car:
                    </h4>
                    <p class="favouriteCar">
                    </p>
                    <h4>
                    Current Car:
                    </h4>
                    <p class="currentCar">
                    </p>
                    
                    <h4>
                        Location: 
                    </h4>
                    <p class="location">
                    </p>
                </div>
            </div>
            <button class="sendMessage" onclick="sendTuluMessage()">Send Message</button>
        </div>
        
    </div>

</body>
<script src="../Js/sideMenu.js"></script>
<script type="text/javascript">
    var tuluId = null;
    var tuluList = <%-JSON.stringify(tulu)%>;
    var addressList = <%-JSON.stringify(address)%>;
    window.onload = function () {
        var hash;
        var hashes = window.location.href.slice(window.location.href.indexOf("?") + 1).split("&");
        
        for (var i = 0; i < hashes.length; i++) {
            hash = hashes[i].split("=");
            if (hash[0] === "tuluId") {
                tuluId = hash[1];
            }
        }
        populateTulu();
    }

    function populateTulu(){
        for(var x = 0;x!=tuluList.length; x++){
            if(tuluList[x]._id == tuluId){
                console.log(tuluList[x]);
                $('.userName').append(tuluList[x].fName +' '+tuluList[x].lName);
                $('.userRole').append(tuluList[x].role);
                $('.userBio').append(tuluList[x].bio);
                var userImage = '<img src="/image/'+ tuluList[x]._id +'">'
                $('.userImage').empty();
                $('.userImage').append(userImage);
                $('').append();
                $('').append();
                $('').append();
                $('').append();
                $('').append();


                var html = "";
                html+='<li>';
                html+='    <a href="'+tuluList[x].facebook+'">';
                html+='        <i class="fab fa-facebook fa-2x"></i>';
                html+='    </a>';
                html+='</li>';
                html+='<li>';
                html+='    <a href="'+tuluList[x].instagram+'">';
                html+='        <i class="fab fa-instagram fa-2x"></i>';
                html+='    </a>';
                html+='</li>';
                html+='<li>';
                html+='    <a href="'+tuluList[x].linkedin+'">';
                html+='        <i class="fab fa-linkedin-in fa-2x"></i>';
                html+='    </a>';
                html+='</li>';
                $('.socialMediaAccounts').append(html);

                $('.experience').append(tuluList[x].experience);
                $('.specialty').append(tuluList[x].specialty);
                $('.favouriteCar').append(tuluList[x].favoriteCar);
                $('.currentCar').append(tuluList[x].currentCar);

                for(var z=0;z!=addressList.length;z++){
                    console.log(addressList)
                    if(addressList[z].targetId == tuluList[x]._id){
                        
                        $('.subInfo .location').append(addressList[z].street +' '+addressList[z].city+', '+addressList[z].province+', '+addressList[z].postal);
                    }
                }
                }
        }
    };

    function sendTuluMessage(){
        // window.location = "/Messages?TargetId=" + tuluId;
    }

</script>
<script src="../Js/privileges.js"></script>
</html>