.container{
    margin:60px 0 0 0;
    padding:20px;
}


label{
    margin:0 0 5px 0;
}

input{
    margin:0 0 15px 0;
    padding:10px 15px;
    border:2px solid #79C6AC;
    border-radius: 10px;
}

button{
    justify-content: center;
    align-items: center;
    padding:15px 0;
    border-radius: 10px;
    border: none;
    background:#79C6AC;
    color:white;
    margin:0 0 20px 0;
}

.lead{
    text-align: center;
}

.lead a{
    color:#79C6AC;
}