.container{
    margin:60px 0 0 0;
    padding:20px;
    justify-content: center;
    align-items: center;
}

.container form{
    width:80vmin;
}

label{
    margin:0 0 5px 0;
}

input,select{
    margin:0 0 15px 0;
    padding:10px 15px;
    border:2px solid #79C6AC;
    border-radius: 10px;
}

button{
    justify-content: center;
    align-items: center;
    padding:15px 0;
    border-radius: 10px;
    border: none;
    background:#79C6AC;
    color:white;
    margin:0 0 20px 0;
}

.lead{
    text-align: center;
}

.lead a{
    color:#79C6AC;
}

.popUp{
    height:100vh;
    width:100vw;
    background:white;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index:1;

}

.popUp p{
    text-align: center;
    padding:0 30px;
}

.popUp button{
    width:80vmin;
    padding:15px 0;
    margin:20px 0 0 0;
}

.popUp button a{
    color:white;
}

.popUp h2{
    color:#79C6AC;
}

.popUp h1{
    margin:30px 0;
}

.verifyBtn{
    width:80vmin;
    padding:15px 0;
    justify-content: center;
    align-items: center;
}

.saveBtn{
    display:none;
}

.pageTwo,.pageThree,.pageFour,.pageFive,.pageSix{
    display:none;
}

.uploaded-images{
    padding:10px 20px;
    border:2px solid #79C6AC;
    border-radius: 10px;
    max-width: 70vmin;
    margin:0 0 30px 0;
    justify-content: center;
    align-items: center;
}

.uploaded-images h2{
    margin:20px 0 30px 0;
    color:#79C6AC;
}

.uploaded-images .wrapper{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.uploaded-images img{
    height:100px;
    padding:10px;
}

.preview-images{
    flex-direction: row;
    flex-wrap: wrap;
    padding:20px;
    justify-content: center;
    align-items: center;
    margin: 0 0 30px 0;
}

.preview-images img{
    height:100px;
    padding:10px;
}