
.header{
    margin:50px 0 0 0;
    background-color:#79C6AC;
    height:20vh;
    justify-content: center;
    align-items: center;
}

.header h1{
    color:white;
}

.blogList{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding:120px 30px;
}

.blogList li{
    padding:30px;
    width:300px;
    margin:30px;
    border-radius: 10px;
    overflow: hidden;
    filter:drop-shadow(0 10px 10px #00000050);
    background:white;
}

.blogList li img{
    width:300px;
}

.blogList li .tag{
    flex-direction: row;
    margin:20px 0 30px 0;
    color:#79C6AC;
}

.blogList li .title{
    margin:0 0 20px 0;
}

.blogList li .tag span{
    color:#79C6AC;
    /* margin:0 0 0 10px; */
    /* padding:0 0 0 10px; */
    /* border-left: 1px solid #00000050; */
}

.blogList li a{
    margin:20px 0 0 0;
    flex-direction: row;
    color:#79C6AC;
}

.blogList li a i{
    margin:0 0 0 10px ;
    color:#79C6AC;
}