.appointmentContainer {
  padding: 50px 0 60px 0;
  background: none;
}

.header {
  /* background: #79C6AC; */
  width: 100%;
  height: 20vh;
  justify-content: center;
  align-items: center;
}

.bookAppointmentContainer {
  padding: 40px 30px 60px 30px;
  /* background: #79C6AC; */
  /* position: absolute; */
  /* width: 100%; */

  justify-content: center;
  align-items: center;
}

.wrapper {
  margin: 60px 0 0 0;
  width: 80vmin;
}

.wrapper h1{
  color:#79c6ac;
  margin:0 0 10px 0;
}

.bookAppointmentContainer .wrapper div:nth-child(2) {
  margin: 20px 0;
}

h2 {
  margin: 20px 0;
}

div p {
  flex-direction: row;
}

div p span {
  color: #79c6ac;
  margin: 0 0 0 5px;
}

.inputFieldDiv{
  margin:20px 0 0 0;
}

.inputFieldDiv p {
  margin: 40px 0 0 0;
}

.inputFieldDiv input {
  margin: 5px 0 10px 0;
  padding: 5px 10px;
  border: 2px solid #79c6ac;
  background: none;
  border-radius: 10px;
}

.inputFieldDiv textarea {
  margin: 5px 0 10px 0;
  padding: 5px 10px;
  border: 2px solid #79c6ac;
  /* background:none; */
  border-radius: 10px;
  color: #79c6ac;
}

.inputFieldDiv select {
  margin: 5px 0 10px 0;
  padding: 5px 10px;
  border: 2px solid #79c6ac;
  background: none;
  border-radius: 10px;
}

.saveTestDrive,
.cancelTestDrive {
  width: 100%;
  padding: 15px 0;
  border-radius: 10px;
  align-self: center;
  margin: 20px 0 0 0;
  align-items: center;
  border: none;
  background: #79c6ac;
  color: white;
}

#DealerAccept,
#TuluAccept {
  opacity: 0.5;
}

.saveTestDrive {
  opacity: 0.3;
}

.prefAltTimeText {
  color: #79c6ac;
  margin: 30px 0 0 0 !important;
}

.tuluRepresentativeText {
  text-align: center;
  color: #79c6ac;
  margin: 50px 0 0 0;
}

.privacyTermsText {
  text-align: center;
  color: #79c6ac;
  margin: 30px 0 10px 0;
  font-size: smaller;
}

.privacyTermsBtn {
  border-radius: 10px;
  border: none;
  padding: 15px;
  background: #79c6ac;
  color: white;
  align-items: center;
}

.privacyTerms {
  height: 100vh;
  width: 100vw;
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  background: #0000007a;
  z-index: 999999999999999999999;
}

.privacyTermsContainerWrapper {
  padding: 15px 20px;
  background: white;
}

.privacyTermsContainer {
  background: white;
  padding: 5px 10px;
  height: 80vmin;
  overflow: scroll;
  width: 80vmin;
}

.privacyTermsContainer h1 {
  color: #79c6ac;
  margin: 30px 0 20px 0;
}

.agreeBtn {
  margin: 50px 0 0 0;
  border-radius: 10px;
  border: none;
  padding: 15px;
  background: #79c6ac;
  color: white;
  align-items: center;
}

.cancelBtn {
  margin: 20px 0 20px 0;
  border-radius: 10px;
  border: none;
  padding: 15px;
  background: #79c6ac;
  color: white;
  align-items: center;
}

.saveTestDrive,
.cancelTestDrive {
  background: #79c6ac !important;
}

.tuluPicker{
  position:fixed;
  height:100vh;
  background:white;
  width:100vw;
  overflow: scroll;
}

.heading{
  margin:80px 20px 20px 20px;
  background:#79c6ac;
  padding:20px;
}

.heading h2, .heading p{
  color:white;
}



.tuluList{
  padding:0px 0 60px 0;
}

.tuluList li{
  padding:20px;
  flex-direction: row;
  align-items: center;
}

.tuluList img{
  border-radius: 50%;
  overflow: hidden;
  border:2px solid #79c6ac;
  height:80px;
  width:80px;
}

.tuluList .tuluInfo{
  margin:0 0 0 20px;
}

.tuluList .email{
  color:#79c6ac;
}

.tuluPicker button{
  border-radius: 10px;
  border:none;
  background:#79c6ac;
  color:white;
  align-items: center;
  width:150px;
  padding:15px 0;
  align-self: center;
  justify-self: center;
}

.tuluPicker .skipText{
  align-self: center;
  justify-self: center;
  color:#79c6ac;
  margin:10px 0 20px 0;
}


.tuluLabel,.vehicleLabel,.priceLabel,.dealershipLabel,.customerLabel{
  flex-direction: row;
  margin:0 0 5px 0;
}

.tuluLabel span,.vehicleLabel span,.priceLabel span,.dealershipLabel span,.customerLabel span{
  margin:0 0 0 5px;
  color:#79c6ac;
}