table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin:60px 0 0 0;
    justify-content: center;
    align-items: center;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width:200px;
  }
  
  tr{
      flex-direction: row;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }