
body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #1A2A33;
  font-family: 'Raleway', sans-serif;
  cursor: default;
}

.fc-header-toolbar h2{
  color:#79C6AC;;
}

th span{
  color:#79C6AC;
}

.fc-content{
  background: #79C6AC;
  border:none;
}

.fc-more{
  color:#79C6AC;
}

.fc-day-number{
  color:#79C6AC;
}

.fc-state-active{
  background:#79C6AC !important;
  color:white;
}

.fc-state-default{
  background:#b5ccc4;
  color:white;
}

.fc-left button{
  background:#79C6AC !important;
}

input, select {
  background: transparent;
}

title, script,style {
  display: none;
}


nav,.sideMenu,.sideMenu .menu,.sideMenu .menu .menuItems,.menuItems p,button.influencerBtn {
  display: flex !important;
}


.container{
  margin:100px 0 0 0 !important;
}

@media screen and (max-width: 600px) {
  *{
    overflow: unset !important;
    border: none !important;
    /* height:unset !important; */
  }

  .fc-header-toolbar h2{
    margin:20px 0 0 0 !important;
  }

  .fc-day{
    border:1px solid #d8d8d8 !important;
    height:100px !important;
    position: unset !important;
  }

  .fc-basic-view .fc-body .fc-row {
    min-height: 100px !important;
  }

  thead tr th{
   
    border:1px solid #d8d8d8 !important;
  }
}