/* Header */
.header{
    align-items: center;
}

.header .banner{
    background:#79C6AC ;
    width:100%;
    height:25vh;
}


.userInfo{
    align-items: center;
    position: relative;
    top:-60px;
    width:300px;
}

.userImage{
    border:4px solid white;
    background:#8B9196;
    border-radius: 50%;
    overflow: hidden;
    height:100px;
    width:100px;
    justify-content: center;
    align-items: center;
    position:relative;
}

.userImage i{
    background:#79c6ac55;
    height:100%;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
}

.userImage #userIcon{
    color: white;
}

    .userImage i:nth-child(2) {
        background: #ffffff63;
        position: absolute;
        height: 30px;
        bottom: 0;
    }

.editForm{
    width:80vmin;
}

#upload-photos{
    display:none;
}




.saveEditBtn{
    margin:30px 0 0 0;
    /* width:300px; */
    padding:20px 0;
    border:none;
    align-items: center;
    background:#17242D;
    border-radius: 10px;
    color:white;
}

.cancelEditBtn{
    margin:20px 0 0 0;
    /* width:300px; */
    padding:20px 0;
    border:1px solid #17242D;
    align-items: center;
    background:transparent;
    border-radius: 10px;
    color:#17242D;
}


label{
    margin:20px 0 10px 0;
}

input{
    padding:10px 15px;
    border:2px solid #79C6AC;
    border-radius: 10px;
}

button{
    justify-content: center;
    align-items: center;
    padding:15px 0;
    border-radius: 10px;
    border: none;
    background:#79C6AC;
    color:white;
    margin:0 0 20px 0;
}