
.header{
    margin:50px 0 0 0;
    background-color:#79C6AC;
    height:20vh;
    justify-content: center;
    align-items: center;
}

.header h1{
    color:white;
}


.events{
    justify-content: center;
    align-items: center;
    margin:40px 0 60px 0;
}

.events h1{
    color:#79C6AC;
}

.events li{
    width:300px;
    margin:20px 0;
    border-radius: 10px;
    overflow: hidden;
    filter: drop-shadow( 0 10px 10px #00000027);
    background:white;
}

.events li img{
    height:300px;
    width:300px;
    border-radius: 10px;
    overflow: hidden;
    justify-self: center;
    align-self: center;
    margin:15px 0 0 0;
}

.events li:nth-child(2) img{
    height:200px;
    width:300px;
    border-radius: 10px;
    overflow: hidden;
}

.events li .eventInfo{
    padding:20px;
}

.events li .eventInfo h3{
    margin:0 0 10px 0;
    color:#83dabd;
}

.events li .eventInfo .eventDate{
    font-size: small;
    margin:20px 0 0 0;
}