
/* Filter Buttons */
.sortFilter{
    flex-direction: row;
}

.filter{
    margin:70px 0 0 0;
    flex-direction: row;
    justify-content: space-evenly;
    justify-content: space-between;
    align-items: center;
    padding:5px 30px;
    
}

#gridDisplayBtn,.searchBtn,.filterBtn,.sortBtn{
    color:#79c6ac;
}

.filterBtn{
    color:white;
    background:#79c6ac;
    border-radius: 10px;
    padding:15px 40px;
}

.srchButton{
    width: 20%;
}

.srchInput{
    margin: 0;
    border: 0;
    border-bottom: 2px solid black;
    font-size: 16px;
    width:80% !important;
    border:2px solid #79c6ac;
    border-radius: 10px;
    padding:15px;
}

.srchForm{
    display: flex;
    flex-direction: row;
}

.sortBtn{
    margin:0 15px 0 0;
}

.filter .searchBar{
    flex-direction: row;
    align-items: center;
    border:1px solid #79c6ac;
    border-radius: 10px;
    padding:5px 10px;
}

.searchBar input{
    width:60vw;
    padding:5px;
    border:none;
    color:#79c6ac;
}

aside.filterSettings{
    overflow:hidden;
    right:-500px;
    height:100vh;
    width:0vw;
    position: fixed;;
    top:50px;
    z-index:1;
}

.filterSettingContainer{
    position: absolute;
    right:0;
    background:#79C6AC ;
    width:60vw;
    height:100vh;
    padding:20px;
    filter: drop-shadow(-10px 0 10px #0000004d);
}

.filterSettingContainer div{
    margin:10px 0 0 0;
}

.filterSettingContainer input, .filterSettingContainer select{
    background:white;
    border:none;
    border-radius:10px;
    padding:10px 5px;
}

.sortLabel, .makeLabel, .modelLabel, .conditionLabel {
    color: white;
    margin-bottom: 10px;
}

.sortSettingList,.makeSettingList,.modelSettingList,.conditionSettingList{
    border:1px solid white;
    background:transparent;
    color:white;
    padding:10px 25px;
    border-radius: 10px;
}

.sortSettingItems,.makeSettingItems,.modelSettingItems,.conditionSettingItems{
    border:1px solid white;
    background:#79C6AC ;
    color:white;
}


#searchButton{
    margin:15px 0 0 0;
    background: #1A2A33;
    color: white;
    padding: 15px 0;
    text-align:center;
    align-items:center;
}

.searchButton{
    margin:45px 0 0 0 !important;
}

aside.sortSettings{
    overflow:hidden;
    right:-500px;
    height:100vh;
    width:0vw;
    position: fixed;;
    top:50px;
    z-index:1;
}

.sortSettingContainer{
    /* position: absolute; */
    /* right:0; */
    /* background:#79C6AC ; */
    /* width:60vw; */
    /* height:100vh; */
    /* padding:50px 20px 20px 20px; */
    /* filter: drop-shadow(-10px 0 10px #0000004d); */
}

.sortSettingContainer p{
    color:white;
    margin:20px 0 0 0;
}

.sortSettingContainer ul{
    margin:10px 0 0 0;
}

.sortSettingContainer li{
    margin:10px 0 0 0;
    border:1px solid white;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding:10px 0;
    color:white;
}

.VehicleTypeLabel,.MakeSearchLabel{
    margin:20px 0 10px 0;
    color:white;
}

.desktopFilter{
    display: none;
}



@media screen and (min-width: 720px) {
    .filterSettingContainer{
        position: absolute;
        right:0;
        background:#79C6AC ;
        width:20vw;
        height:100vh;
        padding:20px;
        filter: drop-shadow(-10px 0 10px #0000004d);
    }

    aside#FilterSettings,.sortFilter,.srchForm{
        display: none !important;
    }

    .filter{
        position: fixed;
        z-index: 9;
        width:100%;
        background:white;
        margin:60px 0 0 0;
        padding:15px 20px;
        justify-content: center;
        align-items: center;
        filter: drop-shadow(0 5px 5px #7e7e7e27);
    }
    
    .desktopFilter, .desktopFilter form{
        display:flex;
        flex-direction: row;
        width:100%;
    }

    .desktopFilter form{
        justify-content: center;
        align-items: center;
    }

    .desktopFilter form div{
        flex-direction: row;
        margin:0 30px 0 0;
        align-items: center;
    }

    .desktopFilter form div select{
        border:2px solid #79c6ac;
        margin:0 0 0 10px;
        padding:10px 15px;
        border-radius: 10px;
        width:200px;
    }

    #searchButton{
        margin:0;
        padding:12px 15px;
        border-radius: 10px;
        width:250px;
        border:none;
    }

    .vehicles{
        margin:150px 0 0 0;
    }
}