/* Footer */
footer {
    background: #1A2A33;
    padding: 20px 0;
    /* position: relative;
    bottom: 0px; */
    flex-direction: column;
    position: static;
}

.footerList {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

    .footerList h4 {
        width: 200px;
        color: #79C6AC;
        border-bottom: 1px solid #8B9196;
        padding: 15px 5px 5px 5px;
    }

.footerSubLinkList {
    margin: 5px;
    font-size: small;
}

.SubLinkListItem a {
    color: #8B9196;
}

.socialMediaContainer{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:30px 0 0 0;
}

.socialMediaContainer li a i{
    color:#8B9196;
}

.socialMediaContainer li{
    margin:0 20px;
}

footer p{
    width:100%;
    text-align: center;
    margin:20px 0 0 0;
    padding:30px 0 0 0;
    border-top:1px solid #2b3b44;
    color:#8B9196;
    font-size: smaller;
}
