*{
    font-family: 'Raleway', sans-serif;
    padding:0px;
    margin:0px;
    color:snow;
}

body{
    background:black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section{
    height:100vh;
    width:80vw;
    background-image:linear-gradient(rgba(0, 139, 139, 0.623),black);
    background-repeat: no-repeat;
    overflow:hidden;
    position: relative;
}

.Random{
    position:absolute;
    visibility: hidden !important;
}

.background{
    position:absolute;
    height:100vh;
    width:unset;
}

.hang{
    transform: scale(0.7);
    top:-55px;
}

.wanted{
    transform: translateY(-10vw) translateX(1500px);
    animation:animateWanted 50s linear;
    animation-play-state: paused;
}
@keyframes animateWanted{
    100%{transform: translateY(-10vw) translateX(-9500px)}
}



.aboutBoard{
    bottom:0px;
    transform: translateX(3000px);
    animation:animateAboutBoard 25s linear;
    animation-play-state: paused;
}
@keyframes animateAboutBoard{
    100%{transform: translateX(-10000px);bottom:0px;}
}


.workBoard{
    bottom:-20px;
    transform: translateX(13300px);
    animation:animateWorkBoard 25s linear;
    animation-play-state: paused;
}
@keyframes animateWorkBoard{
    100%{transform: translateX(-3300px);bottom:-20px;}
}

.oil{
    bottom:100px;
}

.chicken{
    bottom:20px;
}

.decalCityBoard{
    transform: scale(0.6);
}

.education{
    transform: scale(0.6) translateY(100px) translateX(9500px);
    animation:animateEducation 35s linear;
    animation-play-state: paused;
}
@keyframes animateEducation{
    100%{transform: scale(0.6) translateY(100px) translateX(-9500px);}
}

.skills{
    bottom:-40px;
    transform:translateX(4800px);
    animation:animateSkills 35s linear;
    animation-play-state: paused;
}
@keyframes animateSkills{
    100%{bottom:-40px; transform:translateX(-9200px);}
}

.skills1{
    top:-50px;
    transform:scale(0.9) translateX(4300px);
    animation:animateSkills1 40s linear;
    animation-play-state: paused;
}
@keyframes animateSkills1{
    100%{transform:scale(0.9) translateX(-8500px);}
}

.skills2{
    top:-20px;
    transform:scale(0.9) translateX(4700px);
    animation:animateSkills2 40s linear;
    animation-play-state: paused;
}
@keyframes animateSkills2{
    100%{transform:scale(0.9) translateX(-7800px); top:-20px;}
}

.frontEndBoard{
    transform: translateX(2500px) scale(0.7) translateY(10px);
    animation:animateFrontEndBoard 50s linear;
    animation-play-state: paused;
}
@keyframes animateFrontEndBoard{
    100%{transform: translateX(-9500px) scale(0.7) translateY(10px)}
}

.crate2{
    bottom:110px;
    transform: translateX(3000px);
    animation:animateCrate2 40s linear;
    animation-play-state: paused;
}
@keyframes animateCrate2{
    100%{bottom:110px;transform: translateX(-9000px);}
}

.educationBoard{
    bottom:0px;
    transform: translateX(7000px);
    animation:animateEducationBoard 30s linear;
    animation-play-state: paused;
}
@keyframes animateEducationBoard{
    100%{ transform: translateX(-6000px); bottom:0px;}
}

.crate1{
    bottom:0px;
    transform:translateX(6600px);
    animation:animateCrate1 30s linear;
    animation-play-state: paused;
}
@keyframes animateCrate1{
    100%{transform:translateX(-4600px); bottom:0px;}
}

.mcd{
    transform:translateX(7500px);
    animation:animateMcd 30s linear;
    animation-play-state: paused;
}
@keyframes animateMcd{
    100%{transform:translateX(-3100px); bottom:0px;}
}

.lubecity{
    transform:translateX(8200px);
    animation:animateLubecity 30s linear;
    animation-play-state: paused;
}
@keyframes animateLubecity{
    100%{transform:translateX(-2400px); bottom:0px;}
}

.papajohns{
    transform:translateX(8900px);
    animation:animatePapajohns 30s linear;
    animation-play-state: paused;
}
@keyframes animatePapajohns{
    100%{transform:translateX(-1600px); bottom:0px;}
}

.decalCityBoard{
    transform:translateX(9700px);
    animation:animatedecalCityBoard 30s linear;
    animation-play-state: paused;
}
@keyframes animatedecalCityBoard{
    100%{transform:translateX(-800px);}
}

.chicken{
    transform:translateX(7700px);
    animation:animateChicken 30s linear;
    animation-play-state: paused;
}
@keyframes animateChicken{
    100%{transform:translateX(-2900px);}
}


.oil{
    transform:translateX(8400px);
    animation:animateLubecity 30s linear;
    animation-play-state: paused;
}
@keyframes animateLubecity{
    100%{transform:translateX(-2200px);}
}

.backTrees{
    animation:animateBackTrees 10s linear infinite;
    animation-play-state: paused;
}
@keyframes animateBackTrees{
    100%{transform:translateX(-50.5%)}
}

.frontTrees{
    animation:animateFrontTrees 8s linear infinite;
    animation-play-state: paused;
}
@keyframes animateFrontTrees{
    100%{transform:translateX(-50.5%)}
}

.backPlants{
    animation:animateBackPlants 6s linear infinite;
    animation-play-state: paused;
}
@keyframes animateBackPlants{
    100%{transform:translateX(-50.5%)}
}

.ground{
    animation:animateGround 4s linear infinite;
    animation-play-state: paused;
}
@keyframes animateGround{
    100%{transform:translateX(-50.5%)}
}

.frontPlants{
    animation:animateFrontPlants 2s linear infinite;
    animation-play-state: paused;
}
@keyframes animateFrontPlants{
    100%{transform:translateX(-50.5%)}
}

.box {
    transform:translateX(10vw);
    bottom:330px;
    position: absolute; 
}

.characterContainer{
    transform:scale(0.9vw);
    position: relative;
    position: absolute;
    width:190px;
}

.shadow{
    top:220px;
    width:180px;
    height:50px;
    border-radius: 50%;
    background:black;
    position:absolute;
    opacity:0.3;
    transition: 0.6s;
}

.shadowSmall{
    top:220px;
    transform:scale(0.3);
    width:180px;
    height:50px;
    border-radius: 50%;
    background:black;
    position:absolute;
    opacity:0.0;
    transition:0.6s;
}

.torso{
    transform: translateY(-150px) translateX(-60px) scale(0.5);
    position:absolute;
}

.rightLeg{
    transform: translateY(100px) translateX(5px) scale(0.5);
    position:absolute;
}

.leftLeg{
    transform: translateY(100px) translateX(65px) scale(0.5);
    position:absolute;
}

.rightArm{
    transform: translateY(5px) translateX(5px) scale(0.5);
    position:absolute;
}

.leftArm{
    transform: translateY(15px) translateX(85px) scale(0.5);
    position:absolute;
}


.noticeBox{
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    visibility: hidden;
}

.notice{
    margin:15px;
    color:white;
    text-align: center;
}

button{
    width:18vmax;
    height:6vmax;
    border:2px solid white;
    color:white;
    background:seagreen;
    font-weight: bold;
}


footer{
    background:black;
    position:absolute;
    opacity:0.5;
    width:100%;
    bottom:-80px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

footer:hover{
    opacity:1;
    bottom:0px;
    display:flex;
    transition: 0.4s;
}

footer ul {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer ul li {
    margin:2vw 1vw 0vw 1vw;
}


footer p{
    padding:2vh 0 2vh 0;
}



@media only screen and (max-width: 600px) {
    .noticeBox{
        visibility: visible;
    }



    footer{
        bottom:0;
        opacity: 1;
        padding:1vw 0;
    }
    
    footer ul {
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    footer ul li {
        font-size: 12px;
        margin:2vw 2.5vw 2vw 2.5vw;
    }
    
    
    footer p{
        padding:2vw 0 30px 0;
    }
}