/* Header */
.header {
    margin: 50px 0 0 0;
    background-color: #83dabd;
    background:linear-gradient(#83dabd,white);
    height: 80vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow:0 -25px 10px 0 white inset;
}

.header img{
    height:400px;
    margin:20px 0;
}

.header .mobile{
    display:none;
}

.header .desktop{
    display:flex;
}

.header .bannerTesla{
    filter: drop-shadow(0 10px 10px #00000079); 
    opacity: 1;
    height:350px;
}

/* .bannerTesla{
    transform: scale(1)translateX(0px)translateY(0px);
    transition: 0.5s;
}

.bannerTesla:hover{
    transform: scale(1.05)translateX(-100px)translateY(20px);
    transition: 0.5s;
} */

.header h1 {
    color: white;
    font-size: 3em;
}

.header h3, .header p {
    color: white;
    text-align: center;
}

.searchSection{
    padding:20px 280px;
}

.searchSection .wrapper{
    flex-direction: row;
    align-items: center;
}

.searchSection label{
    margin:0 0 0 20px;
    color:#83dabd;
    font-size: x-large;
}

.searchSection input{
    margin:0 0 0 10px;
    width:600px;
    padding:10px;
    border-radius: 10px;
    border:2px solid #83dabd;
    color:#83dabd;
}

.searchSection button{
    background:#83dabd;
    border:2px solid #83dabd;
    color:white;
    width:150px;
    margin:0 0 0 10px;
    padding:10px;
    border-radius: 10px;
    font-size: 14px;
    align-items: center;
}



/* 1st Section */
/* Get Approved & Cars Worth */
.firstSection {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 0 50px 0;
}

.firstSection div {
    width: 500px;
    height: 450px;
    justify-content: end;
    align-items: center;
    margin: 20px;
    border-radius: 20px;
}

.firstSection div a {
    justify-content: center;
    align-items: center;
}

.getApproved a img{
    filter: drop-shadow(0 10px 10px #0000001a);
    border-radius: 30px;
    overflow: hidden;
}

.getApproved a img,.browse a img,.tradeInfo a img{
    width:350px;
}

.getApproved a h2,.browse a h2,.tradeInfo a h2{
    color:#83dabd;
    margin:20px 0 0 0;
}


/* 2nd Section */
/* Partners */
.secondSection {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background:#79C6AC;
    padding:50px 0;
    position: relative;
    /* height:120px 0; */
    overflow: hidden;
}

.secondSection .circle{
    height:120vh;
    width:120vh;
    right:-120px;
    border-radius: 50%;
    position: absolute;
    background:#ffffff50;
    overflow: hidden;
}

.col-left{
    /* justify-content: center; */
    /* align-items: center; */
}

.col-left,.col-right{
    width:700px;
    margin:0 100px;
    position: relative;
    /* height:60vh; */
}

.col-left h1,.col-left,h3{
    color:white;
}

.col-left h1{
    font-size: 40px;
}

.col-left h3{
    margin:20px 0 0 0;
}

.col-right{
    /* justify-content: center; */
    align-items: center;
}

.col-right img{
    width:400px;
}

.col-right .carousel{
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.col-right .carousel li{
    margin:20px;
    overflow: hidden;
    border-radius:10px;
}

.col-right .carousel li img{
    height:120px;
    width:120px;
}
  
  .carouselContainer {
    margin: 0 auto;
    width: 300px;
    height: 300px;
    position: relative;
    perspective: 1000px;
  }
  
  .carousel {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
  }
  
  .item {
    filter: drop-shadow(0 10px 50px #00000013);
    display: flex;
    position: absolute;
    background: #000;
    margin:0 50px;
    /* width: 250px; */
    /* height: 200px; */
    justify-content: center;
    align-items: center;
    /* line-height: 200px; */
    font-size: 5em;
    text-align: center;
    color: #FFF;
    opacity: 0.95;
    border-radius: 10px;
  }
  
  .a {
    transform: rotateY(0deg) translateZ(250px);
    background: #ed1c24;
  }
  .b {
    transform: rotateY(60deg) translateZ(250px);
    background: #0072bc;
  }
  .c {
    transform: rotateY(120deg) translateZ(250px);
    background: #39b54a;
  }
  .d {
    transform: rotateY(180deg) translateZ(250px);
    background: #f26522;
  }
  .e {
    transform: rotateY(240deg) translateZ(250px);
    background: #630460;
  } 
  .f {
    transform: rotateY(300deg) translateZ(250px);
    background: #8c6239;
  }
  .g {
    transform: rotateY(300deg) translateZ(250px);
    background: #8c6239;
  }
  .h {
    transform: rotateY(300deg) translateZ(250px);
    background: #8c6239;
  }
  .i {
    transform: rotateY(300deg) translateZ(250px);
    background: #8c6239;
  }
  .j {
    transform: rotateY(300deg) translateZ(250px);
    background: #8c6239;
  }
  .k {
    transform: rotateY(300deg) translateZ(250px);
    background: #8c6239;
  }
  .l {
    transform: rotateY(300deg) translateZ(250px);
    background: #8c6239;
  }
  .m {
    transform: rotateY(300deg) translateZ(250px);
    background: #8c6239;
  }
  .n {
    transform: rotateY(300deg) translateZ(250px);
    background: #8c6239;
  }
  .o {
    transform: rotateY(300deg) translateZ(250px);
    background: #8c6239;
  }
  .p {
    transform: rotateY(300deg) translateZ(250px);
    background: #8c6239;
  }
  .q {
    transform: rotateY(300deg) translateZ(250px);
    background: #8c6239;
  }
  .r {
    transform: rotateY(300deg) translateZ(250px);
    background: #8c6239;
  }
  .s {
    transform: rotateY(300deg) translateZ(250px);
    background: #8c6239;
  }
  .t {
    transform: rotateY(300deg) translateZ(250px);
    background: #8c6239;
  }
  .u {
    transform: rotateY(300deg) translateZ(250px);
    background: #8c6239;
  }
  .v {
    transform: rotateY(300deg) translateZ(250px);
    background: #8c6239;
  }
  .w {
    transform: rotateY(300deg) translateZ(250px);
    background: #8c6239;
  }
  .x {
    transform: rotateY(300deg) translateZ(250px);
    background: #8c6239;
  }
  .y {
    transform: rotateY(300deg) translateZ(250px);
    background: #8c6239;
  }
  .z {
    transform: rotateY(300deg) translateZ(250px);
    background: #8c6239;
  }
  
  .next, .prev {
    position: absolute;
    display:none;
    /* top: 100px; */
    bottom:-10px;
    cursor: pointer;
    border-radius: 5px;
    transition: box-shadow 0.1s, top 0.1s;
  }
  .next { right: 5em; }
  .prev { left: 5em; }

  .next i,.prev i{
      color:#ffffff;
  }


/* 3rd Section */
/* Influencers */
.thirdSection {
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.influencerHeading {
    padding: 20px 0;
}

.influencerList {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.influencerListItems {
    width: 300px;
    justify-content: center;
    align-items: center;
}

.influencerImage {
    margin: 20px 0 0 0;
    border: 4px solid #79C6AC;
    background:#79C6AC;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-self: center;
}

.influencerImage img{
    width: 150px;
}

.influencerDescription, .influencerName {
    text-align: center;
    padding: 5px 0;
}

.influencerName {
    margin:10px 0 0 0;
}


.influencerName {
    color: #79C6AC;
}

.userRating{
    flex-direction: row;
    margin:5px 0;
}

.userRating i{
    color:goldenrod;
}

/* Blog */


.blogSection{
    /* border:1px solid red; */
}

.blogSection ul{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding:20px 30px;
}

.blogSection ul li{
    padding:30px;
    width:300px;
    margin:30px;
    border-radius: 10px;
    overflow: hidden;
    filter:drop-shadow(0 10px 10px #00000050);
    background:white;
}

.blogSection ul li img{
    width:300px;
}

.blogSection ul li .tag{
    flex-direction: row;
    margin:20px 0 30px 0;
    color:#79C6AC;
}

.blogSection ul li .title{
    margin:0 0 20px 0;
}

.blogSection ul li .tag span{
    color:#79C6AC;
    /* margin:0 0 0 10px; */
    /* padding:0 0 0 10px; */
    /* border-left: 1px solid #00000050; */
}

.blogSection ul li a{
    margin:20px 0 0 0;
    flex-direction: row;
    color:#79C6AC;
}

.blogSection ul li a i{
    margin:0 0 0 10px ;
    color:#79C6AC;
}

.blogSection ul li .description{
    text-overflow: ellipsis;
    overflow: hidden;
    height: 200px;
    /* white-space: nowrap; */
}

/* 4th Section */
/* PopularCars */
.fourthSection {
    padding: 30px 0;
    justify-content: center;
    align-items: center;
}

.videoContainer {
    justify-content: center;
    align-items: center; 
}

.videoContainer h2 {
    text-align: center;
}


.videoContainer video{
    margin:20px 0;
}


/* Reviews */

.reviewsContainer{
    /* padding:150px 0; */
    height:60vh;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* background:#1A2A33; */
    background: linear-gradient(#79C6AC,#ffffff),url('/images/reviews.jpg');
    background-position: center;
    background-blend-mode: multiply;
    /* filter: drop-shadow(inset 0 10px 10px 10px #000000); */
    box-shadow: inset 0px 0px 20px #00000050;
    background-size: cover;
    background-attachment: fixed;
    margin:0 0 50px 0;
}

.reviewsContainer i{
    color:white;
}

.reviewCard{
    margin:0 20px ;
    width:60vmin;
    background:#ffffff;
    padding:30px;
    filter: drop-shadow(0 0 10px #00000050);
    /* color:white; */
    /* border-radius: 10px; */
}

.reviewCard{
    transition:0.5s;
    transform: scale(1);
}

.reviewCard:hover{
    transition:0.5s;
    transform: scale(1.03);
}

.clientName{
    color:#79C6AC;
    /* margin:0 0 20px 0; */
}

.reviewCard .rating{
    margin:10px 0;
    flex-direction: row;
}

.rating i{
    color:goldenrod;
}

.review{
    border-top: 1px solid #79C6AC;
    padding:10px 0 0 0;
    color:#79C6AC;
}


#reviewTwo,#reviewThree{
    display:none;
}

#arrow{
    color:#ffffff;
    transition: 0.5s;
}

#arrow:hover{
    color:#79C6AC;
    transition: 0.2s;
}

/* Career */
.career{
    justify-content: center;
    align-items: center;
    margin:0 0 60px 0;
    flex-direction: row;
}

.career img{
    width:500px;
}

.career .jobInfo{
    padding:30px;
    width:400px;
}

.career .jobInfo .jobTitle{
    color:#79C6AC;
}

.career .jobInfo .location{
    font-size:small;
}

.career .jobInfo .jobDescription{
    margin:20px 0 0 0;
    color:#79C6AC;
    font-size: larger;
}

.career .jobInfo button{
    padding:15px 20px;
    border-radius: 10px;
    color:white;
    justify-content: center;
    align-items: center;
    background:#79C6AC;
    border:none;
    margin:20px 0 0 0;
}


@media screen and (max-width: 600px) {
    .header {
        flex-direction: column-reverse;
        z-index: -3;
        height:60vh;
        overflow: hidden;
    }

    .header img{
        height:250px;
        margin:0px 0;
        z-index: -1;
    }

    .header .mobile{
        display:flex;
    }
    
    .header .desktop{
        display:none;
    }

    .header .bannerTesla{
        filter: drop-shadow(0 10px 10px #00000079); 
        position: absolute;
        z-index: -2;
        opacity: 0.2;
        height:150px;
    }

    

    .searchSection{
        padding:20px 15px;
    }

    .searchSection .wrapper{
        flex-direction: row;
        align-items: center;
    }

    .searchSection label{
        margin:0 0 0 20px;
        color:#83dabd;
        font-size: x-large;
    }

    .searchSection input{
        margin:0 0 0 10px;
        width:600px;
        padding:10px;
        border-radius: 10px;
        border:2px solid #83dabd;
        color:#83dabd;
    }

    .searchSection button{
        background:#83dabd;
        border:2px solid #83dabd;
        color:white;
        width:150px;
        margin:0 0 0 10px;
        padding:10px;
        border-radius: 10px;
        font-size: 14px;
        align-items: center;
    }

    .secondSection {
        flex-direction: column;
        align-items: center;
        background:#79C6AC;
        padding:50px 0;
    }
    
    .partnerList {
        width:unset;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 50px 0;
    }
    
    .partnerListItems {
        margin: 10px 20px;
    }
    
    .dealershipHeading {
        color: white;
        padding: 20px 0;
    }
    
    .partnerListItems img{
        width:150px;
    }


    .blogSection ul li img{
        width:unset !important;
    }

    video{
        width:80vmin !important;
    }


    
    .reviewsContainer{
        background: linear-gradient(#79C6AC,#ffffff),url('/images/reviews.jpg');
        background-position: center;
        background-blend-mode: multiply;
        background-size: cover;
        margin:0 0 50px 0;
    }

    .reviewsContainer i{
        color:white;
    }

    .reviewCard{
        margin:0 20px ;
        width:60vmin;
        background:#ffffff;
        padding:30px;
        filter: drop-shadow(0 0 10px #00000050);
        /* color:white; */
        /* border-radius: 10px; */
    }

    .reviewCard{
        transition:0.5s;
        transform: scale(1);
    }

    .reviewCard:hover{
        transition:0.5s;
        transform: scale(1);
    }

    #arrow{
        color:#ffffff;
        transition: 0.5s;
    }
    
    #arrow:hover{
        color:#ffffff;
        transition: 0.2s;
    }

    .career{
        flex-direction: column !important;
    }

    .career img{
        width:80vmin;
    }

    .career .jobInfo{
        width:80vmin;
    }


    .secondSection {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background:#79C6AC;
        padding:50px 0;
        position: relative;
        /* height:120px 0; */
        overflow: hidden;
    }
    
    .secondSection .circle{
        display: none !important;
    }
    
    .col-left{
        /* justify-content: center; */
        /* align-items: center; */
    }
    
    .col-left,.col-right{
        width:80vmin;
        margin:0 100px;
        position: relative;
        /* height:60vh; */
    }
    
    .col-left h1,.col-left,h3{
        color:white;
    }
    
    .col-left h1{
        font-size: 40px;
        text-align: center;
    }
    
    .col-left h3{
        margin:20px 0 0 0;
        text-align: center;
    }
    
    .col-right{
        /* justify-content: center; */
        align-items: center;
    }
    
    .col-right img{
        display: none !important;
    }
    
    .col-right ul{
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .col-right ul li{
        margin:50px 20px 20px 20px;
        overflow: hidden;
        border-radius:10px;
    }
    
    .col-right ul li img{
        height:120px;
        width:120px;
        display: flex !important;
    }

    .next { right: 50px; }
    .prev { left: 50px; }
}


@media screen and (min-width: 600px) {

    .tradeInfo img{
        transform: scale(1);
        transition: 0.5s;
    }

    .tradeInfo h2{
        transform: scale(1);
        transition: 1s;
    }

    .tradeInfo:hover img{
        transform: scale(1.05);
        filter: drop-shadow(0 15px 15px #00000021);
        transition: 0.5s;
    }

    .getApprtradeInfooved:hover h2{
        transform: scale(1.05);
        transition: 1s;
        color:#3ae0a9;
    }


    .getApproved img{
        transform: scale(1);
        transition: 0.5s;
    }

    .getApproved h2{
        transform: scale(1);
        transition: 1s;
    }

    .getApproved:hover img{
        transform: scale(1.05);
        filter: drop-shadow(0 15px 15px #00000021);
        transition: 0.5s;
    }

    .getApproved:hover h2{
        transform: scale(1.05);
        transition: 1s;
        color:#3ae0a9;
    }

    .browse img{
        transform: scale(1);
        transition: 0.5s;
    }

    .browse h2{
        transform: scale(1);
        transition: 1s;
    }

    .browse:hover img{
        transform: scale(1.05);
        filter: drop-shadow(0 15px 15px #00000021);
        transition: 0.5s;
    }

    .browse:hover h2{
        transform: scale(1.05);
        transition: 1s;
        color:#3ae0a9;
    }


}