.container{
    margin:120px 0 0 0;
    padding:20px;
    width:80vmin;
    justify-self: center;
    align-self: center;
}

form{
    
}

.form-group{
    margin:0 0 20px 0;
}

label{
    margin:0 0 5px 0;
}

input{
    padding:10px 15px;
    border:2px solid #79C6AC;
    border-radius: 10px;
}

button{
    justify-content: center;
    align-items: center;
    padding:15px 0;
    border-radius: 10px;
    border: none;
    background:#79C6AC;
    color:white;
    margin:0 0 20px 0;
}

.lead{
    text-align: center;
}

.lead a{
    color:#79C6AC;
}