
/* Car Section */

.vehicles{
    padding:0 15px 15px 15px;
}

.helperInfo{
    margin:10px 0 0 0;
    padding:20px;
    background:#79C6AC;
}

.helperInfo h3{
    color:white;
}

.helperInfo p{
    color:white;
}

.helperInfo button{
    margin:10px 0 0 0;
    width:150px;
    padding:10px 0;
    border-radius: 10px;
    border:2px solid white;
    background:none;
    color:white;
    align-items: center;
}

.breadCrumbs{
    margin:20px 10px;
    font-size: small;
}

.breadCrumbs p{
    flex-direction: row;
    color:#79C6AC;
}


#Vehicles{
    justify-content: center;
    /* flex-direction: column; */
    flex-direction: row;
    flex-wrap: wrap;
}

#Vehicles li{
    border-left:1px solid #00000020;
    border-right:1px solid #00000020;
    border-radius: 10px;
    filter: drop-shadow(0 20px 10px #00000028);
    background:white;
    justify-content: flex-end;
    align-items: center;
    padding:20px;
    margin:30px;
    width:300px;
}

#Vehicles li .carImage{
    width:300px !important;
}

#Vehicles li .carDetails{
    justify-content: center;
    /* align-items:center; */
    margin:10px 0;
}

#Vehicles li .carDetails .carName{
    margin:20px 0 0 0;
}

#Vehicles li .carDetails h2,
#Vehicles li .carDetails p{
    text-align: center;
}

#Vehicles li .carDetails p{
    margin:5px 0 0 0;
}


#Vehicles li .carDetails .carPrice{
    font-size: x-large;
    margin:10px 0;
    color:#79C6AC;
}

#Vehicles li button{
    padding:15px 0;
    background:#79C6AC;
    color:white;
    border-radius: 10px;
    border:none;
    align-items: center;
    margin:20px 0;
}

#Vehicles li .dealership{
    color:#79C6AC;
    margin:10px 0;
}

#Vehicles li .views{
    flex-direction: row;
    justify-content: center;
    margin:30px 0 0 0 !important;
    font-size: smaller;
    color:#00000079;
}

#Vehicles li .views i{
    margin:0 10px 0 0;
}

.loadMore{
    width: 200px;
    height: 50px;
    background-color: #79C6AC;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    color: white;
}

.nextButtonHolder{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {

    #gridDisplayBtn{
        display:none;
    }
    
    #Filter{
        justify-content: flex-end;
        /* align-items: flex-end; */
    }
    
    #Vehicles{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #Vehicles li{
        margin:30px 0;
    }
}