.container{
    margin:60px 0 0 0;
}
/* Listing */
.activeListingList{
    flex-direction: column;
    padding:0 0 150px 0;
}

.activeListingListItem{
    border-bottom:1px solid #8b91964d;
    padding:15px;
    flex-direction: row;
    justify-content: center;
}

.listingImage{
    width:70px;
    height:70px;
    border-radius: 10px;
}

.listingInfo{
    width:250px;
    padding:0 20px;
}

.listingInfo .listingReferralFee{
    margin:5px 0 0 0;
    color:#79C6AC;
}

.listingInfo .listingPrice{
    color:#79C6AC;
}

.listingInfo .listingViews{
    color:#8b9196;
    font-size: small;
    margin:10px 0 0 0;
}

.activeListingListItem i{
    color:#79C6AC;
}

#imageContainer{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#imageContainer img{
    width:100px;
    height:100px;
    margin:10px;
    border-radius:10px;
}

.thumbNail{
    width:50px;
    height:50px;
    margin:5px;
}

.uploadImageBtn{
    margin:10px 0 0 0 !important;
}

#thumbnailContainer{
    margin:10px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.carDetails p{
    color:white;
}
