

.header{
    margin:50px 0 0 0;
    background-color:#79C6AC;
    height:20vh;
    justify-content: center;
    align-items: center;
}

.header h1{
    color:white;
}




.uploadLicense{
    justify-content: center;
    align-items: center;
    margin:50px 0 0 0;
}

.uploadLicense p{
    color:#79C6AC;
    margin:5px 0;
    text-align: center;
    width:70vmin;
}

.uploadLicense .discalimer{
    font-size: smaller;
}

.uploadLicense form{
    padding:20px 0 100px 0;
    width:70vmin;
}

.uploadLicense form input{
    padding:10px 15px;
    border-radius: 10px;
    border:2px solid #79C6AC;
}    

.uploadLicense form button{
    border:none;
    padding:15px;
    color:white;
    background:#79C6AC;
    align-items: center;
    margin:10px 0;
    border-radius: 10px;
}

.popUp{
    height:100vh;
    width:100vw;
    position: fixed;
    background:#1981625e;
    justify-content: center;
    align-items: center;
}

.testDriveThankYou{
    padding:40px 20px 20px 20px;
    width:70vmin;
    border-radius:10px;
    background:white;
    justify-content: center;
    align-items: center;
}

.testDriveThankYou h2,.testDriveThankYou p{
    text-align: center;
    color:#79C6AC;
}

.testDriveThankYou p{
    margin:20px 0;
    color:unset;
}

.testDriveThankYou button{
    border:none;
    padding:15px;
    color:white;
    background:#79C6AC;
    align-items: center;
    margin:10px 0;
    border-radius: 10px;
    width:70vmin;
}

.popUp{
    display:none;
}